<header class="h-16 bg-neutral-200 border-b-2 border-neutral-400 relative">
  <button [mat-dialog-close]="true" class="text-xl cursor-pointer absolute right-0 top-0 mr-6 mt-4">
    <i class="uil uil-times-circle"></i>
  </button>
</header>

<section class="px-5 pb-5 break-words max-w-md">
  <div *ngIf="dialogConfig.type==='information'" class="">
    <header class="h-32 bg-neutral-400">
      <h1></h1>
    </header>

    <div class="">
      <img class="max-w-xs" src="assets/images/like.svg">
    </div>

    <div class="p-2">
      <p class="text-danger-500 text-base sm:text-lg font-bold mb-4">{{dialogConfig.message | translate }}</p>
      <button
        [mat-dialog-close]="true"
        class="bg-primary-500 px-3 py-2 text-white text-sm sm:text-base font-bold rounded-xl focus:outline-none block mx-auto">{{ dialogConfig.buttonOne | translate }}</button>
    </div>
  </div>

  <div *ngIf="dialogConfig.type==='error'" class="">
    <div class="my-8">
      <img class="mx-auto" src="assets/images/alert-error.png" style="max-width: 108px">
    </div>

    <h1 *ngIf="dialogConfig.title" class="font-fs-bold text-center text-lg mb-4">{{dialogConfig.title | translate}}</h1>

    <p class="text-neutral-800 text-sm sm:text-base font-bold mb-8">{{dialogConfig.message | translate }}</p>

    <button [mat-dialog-close]="true"
            class="app-button bg-primary-500 w-full">{{ dialogConfig.buttonOne | translate }}</button>
  </div>
</section>
