a{
    &:visited,
    &:focus{
        color: @mainColor;
    }
}

::selection,
::-webkit-selection,
::-moz-selection,
::-ms-selection,
::-o-selection {
    color: white;
}
h1,h2,h3,h4,h5,h6 {
    font-family: @mainFontBold;
    font-weight: normal;
}
ul {
    list-style-type: none;
}
.main {
    font-family: @mainFont, sans-serif;
    font-size: 34px;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    @media screen and (max-width: @sm) {
        font-size: 18px;
    }
    .loader {
        background-color: red;
        text-align: center;
    }
    header {
        text-align: center;
        img {
            @media screen and (max-width: @xs) {
                width: 100px;
            }
        }
    }
    &__bgGray {
        background-image: url('../../assets/images/gray-bg.svg');
        background-position: center 360px;
        background-repeat: no-repeat;
        @media screen and (max-width: @xs) {
            background-image: url('../../assets/images/gray-bg-mobile.svg');
            background-position: center 42vw;
            background-size: 100% auto;
        }
    }
    &__bgBlue {
        background-image: url('../../assets/images/blue-bg.svg');
        background-position: right top;
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 1366px;
        @media screen and (max-width: @xs) {
            background-image: url('../../assets/images/blue-bg-mobile.svg');
            background-position: left bottom;
            background-size: cover;
        }
    }
    &__bgOrange {
        background-image: url('../../assets/images/orange-bg.svg');
        background-position: top center;
        background-repeat: no-repeat;
        color: white;
        @media screen and (max-width: @xs) {
            background-image: url('../../assets/images/orange-bg-mobile.svg');
            background-size: 100% auto;
        }
        &.section {
            .section {
                &__title {
                    color: white;
                    font-size: 70px;
                    line-height: 70px;
                }
            }
        }
    }
    .section {
        &__title {
            color: black;
            font-size: 75px;
            font-family: @mainFontBold, sans-serif;
            line-height: 75px;
            &-red {
                color: @redColor;
            }
            span {
                color: @mainColor;
            }
            @media screen and (max-width: @xs) {
                font-size: 8.6vw;
                line-height: 8.6vw;
            }
        }
        &__text {
            color: @grayColor;
        }
        &__button {
            background-color: @mainColor;
            border: none;
            border-radius: 36px;
            color: white;
            font-family: @mainFontBold, sans-serif;
            font-size: 34px;
            padding: 30px 50px;
            @media screen and (max-width: @xs) {
                border-radius: 20px;
                font-size: 20px;
                padding: 20px 25px;
            }
        }
    }
}
.visible-md {
    @media screen and (min-width: @md) {
        display: inherit;
    }
    @media screen and (max-width: @md) {
        display: none;
    }
}
.hidden-md {
    @media screen and (min-width: @md) {
        display: none;
    }
    @media screen and (max-width: @md) {
        display: inherit;
    }
}
