<div class="container container-map" id="map" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center start">
    <div class="container container-map__text" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.xs="center center" >
        <h2 class="title title-red" fxLayout="column" fxLayoutAlign="center center">
            <span><span>¿</span>Dónde encontrar tu </span>Poker Roja?
        </h2>
        <p>
            Después de recibir el código en tu correo puedes reclamar una Poker Roja gratis en alguno de los siguientes puntos autorizados.
        </p>
    </div>
    <div class="elfsight-app-681b6da9-44b1-48b6-bf33-2ccd0059ed01"></div>
</div>