<div class="container max-w-2xl mx-auto">
  <div class="w-full mb-4 inline-block">
    <h3 class="text-purple-500 text-xl font-normal inline-block align-middle font-bold">
      Detalle del bono
    </h3>
    <div [mat-dialog-close]="true"
      class="inline-block float-right h-8 w-8 md:h-12 md:w-12 text-center align-middle cursor-pointer">
      <i class="uil uil-times-circle text-2xl"></i>
    </div>
  </div>
  <div class="w-full px-4 sm:px-0 overflow-scroll sm:overflow-visible scroll-view">
    <div class="w-8/12 m-auto md:w-2/5 md:inline-block md:align-middle">
      <div class="bg-center bg-contain w-full bg-no-repeat p-3"
        style="background-image: url('assets/images/background-bubbles.png');">
        <img [src]="code.qrCodeUrl" alt="" class="w-11/12" />
      </div>
    </div>
    <div class="w-full md:w-3/5 md:inline-block md:align-middle mt-3 pl-0 sm:pl-4">
      <div class="w-full mb-4 inline-block">
        <img [src]="code.image" class="w-12 mr-4 align-middle inline-block" />
        <h4 class="text-purple-500 text-xl font-normal inline-block align-middle font-bold align-middle">
          {{ code.name }}
        </h4>
      </div>
      <p class="text-purple-500 font-bold text-2xl sm:mr-2 mb-3 sm:w-full w-7/12 inline-block align-middle">
        {{ code.amount | currency: "COP":"symbol-narrow":"1.0" }}
      </p>
      <p class="text-xs text-gray-700 text-left uppercase sm:hidden inline-block w-5/12">
        <span class="tracking-widest">Válido Hasta:</span><br>
        <span class="text-black text-base font-bold">{{ code.expireDate | date: "dd/MM/yyyy" }}</span>
      </p>
      <div class="w-full mb-2">
        <span *ngFor="let tag of code.tags" class="app-tag text-white rounded-md bg-purple-900 mr-2">{{ tag }}</span>
      </div>
      <p class="table-cell text-xs text-gray-700 text-left uppercase hidden sm:inline-block">
        <span class="tracking-widest">Válido Hasta:</span><br>
        <span class="text-black text-base font-bold">{{ code.expireDate | date: "dd/MM/yyyy" }}</span>
      </p>
    </div>
    <p class="text-sm text-gray-800 mb-4 mt-4">{{ code.description }}</p>
    <a class="app-button mx-1 text-black border-black border-2 uppercase w-auto py-3 sm:px-3 px-2 text-center"
      href="/terms.html" target="_blank">Ver Términos y Condiciones
    </a>
    <div class="block w-full">
      <p class="w-full md:w-1/2 block md:inline-block text-xs lg:pr-32 mt-4">
        Descarga nuestra app para tener todos tus codigos a la mano.
      </p>
      <div class="w-full md:w-1/2 md:inline-block sm:pl-4">
        <div class="inline-block">
          <a href="https://apps.apple.com/us/app/tapit/id1481852424?ls=1" target="_blank"><img
              src="/assets/images/download/appStore.svg" /></a>
        </div>
        <div class="inline-block ml-3">
          <a href="https://play.google.com/store/apps/details?id=com.abinbev.tapit" target="_blank"><img
              src="/assets/images/download/googlePlay.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>