.footer {
    color: white;
    font-size: 18px;
    padding: 0 0 100px;
    position: relative;
    @media screen and (max-width: @xs) {
        padding: 0 0 30px;
    }
    &__legal {
        padding: 15px 0;
        border-bottom: 1px solid white;
        margin: 0 0 70px;
        @media screen and (max-width: @sm) {
            img {
                width: 95%;
            }
        }
        @media screen and (max-width: @xs) {
            margin: 0;
        }
    }
    &__social {
        li {
            background-image: url('../assets/images/footer/bg-social.svg');
            height: 50px;
            margin: 0 10px;
            text-align: center;
            width: 50px;
            a {
                width: 100%;
            }
        }
    }
    &__copyright {
        border-left: 1px solid white;
        border-right: 1px solid white;
        color: white;
        margin: 0 50px 0 0;
        padding: 10px 50px;
        @media screen and (max-width: @xs) {
            border-bottom: 1px solid white;
            border-left: none;
            border-right: none;
            border-top: 1px solid white;
            margin: 0 0 20px;
            padding: 20px 0;
            text-align: center;
            img {
                margin: 0 auto;
            }
            p {
                font-size: 3.5vw;
                margin: 10px auto;
            }
        }
        a {
            color: white;
        }
    }
    &__follow {
        @media screen and (max-width: @xs) {
            margin: 0;
            p {
                text-align: center;
                width: 100%; 
            }
            ul {
                padding: 0;
                width: 100%;
            }
        }
    }
    &__polas {
        @media screen and (max-width: @xs) {
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
    }
}