.section {
    &__marketplace {
        margin: 0;
        &-container {
            width: 100%;
            @media screen and (max-width: @xs) {
                padding-bottom: 50px;
            }
        }
        &-image {
            img {
                @media screen and (max-width: @lg) {
                    margin: 90px auto 0;
                    width: 100%;
                }
                @media screen and (max-width: @md) {
                    width: 80%;
                }
            }
        }
    }
    
}