.main {
    .section {
        &__slider {
            margin: 0;
            &-container {
                // opacity: 0;
                padding-bottom: 100px;
                width: calc(100% + 99px);
                @media screen and (max-width: @md) {
                    width: 100%;
                }
                @media screen and (max-width: @xs) {
                    padding-bottom: 50px;
                }
                .slick-slider { 
                    margin-bottom: 60px; 
                }
            }
            &-image {
                background-repeat: no-repeat;
                img {
                    @media screen and (max-width: @xs) {
                        margin: 0 24%;
                        width: 80%;
                    }
                }
                &-1 {
                    img {
                        @media screen and (max-width: @md) {
                            margin: 0;
                        }
                    }
                }
            }
            &-text-1 {
                .section__slider-content {
                    @media screen and (min-width: @sm) {
                        &:before {
                            width: 72%;
                        }
                    }
                }

            }
            &-content {
                &::before {
                    border-top: 1px dashed;
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 600px;
                }
                
            }
            &-number {
                color: @ligthGrayColor;
                font-family: @mainFontBold;
                font-size: 60px;
                @media screen and (max-width: @xs) {
                    font-size: 125px;
                }
            }
            &-mouse {
                display: block;
                margin: 37px auto 0;
            }
            .slick-slide {
                overflow: hidden;
            }
        }
        
    }
}