<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

 <head>
	<title>Busqueda vacía</title>
	<vtex:metaTags/>
	<vtex:template id="Tapit-metatags" />
	<vtex:template id="Tapit-styles" />
</head>

<body>

	<vtex:template id="Tapit-header" />

	<main>

		<div class="container m-auto container-busqueda-vacia">
			<div>
				<h2>Lo sentimos :(</h2>
				<p>No encontramos coincidencias con tu búsqueda.</p>
			</div>
		</div>

	</main>

	<vtex:template id="Tapit-footer" />

	<vtex:template id="Tapit-scripts" />
</body>
</html>
