<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<title>TapIt</title>
	<vtex:metaTags/>
	<vtex:template id="Tapit-metatags" />
	<vtex:template id="Tapit-styles" />
</head>

<body id="home-page">

	<main class="page">

		<section id="home-content">

			<div class="intro">
				<vtex:contentPlaceHolder id="Intro" />
			</div>

			<div class="container">
				<vtex:contentPlaceHolder id="Products" />
			</div>

		</section>

	</main>


	<vtex:template id="Tapit-scripts" />
</body>
</html>
