<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

 <head>
	<title>TapIt 404</title>
	<vtex:metaTags/>
	<vtex:template id="Tapit-metatags" />
	<vtex:template id="Tapit-styles" />
</head>

<body>

	<vtex:template id="Tapit-header" />

	<aside class="site-search container">
		<vtex.cmc:fullTextSearchBox/>
	</aside>

	<main>

		<div class="container container-busqueda-vacia container-error-page">
			<div>
				<h2>Producto no encontrado :(</h2>
				<p>404</p>
			</div>
		</div>

	</main>

	<vtex:template id="Tapit-footer" />

	<vtex:template id="Tapit-scripts" />
</body>
</html>
