<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
	<title>TapIt</title>
    <vtex:metaTags/>
    <vtex:contentPlaceHolder id="Title" />
	<vtex:template id="Tapit-metatags" />
	<vtex:template id="Tapit-styles" />
	<link href="/arquivos/tapit-gift.min.css" rel="stylesheet" type="text/css" /> 
</head>

<body>
	<vtex:template id="Tapit-header" />

	<main class="page pt-12 pb-10">
		<section id="home-content">
			<div class="container m-auto">
				<div class="flex flex-wrap">
					<div class="w-full sm:w-2/5">
						<p class="text-white leading-tight text-3xl text-center sm:text-left">
							Reclama <br/>
							el regalo que te envió <br/>
							tu amigo aquí <br/>
						</p>
					</div>
					<div class="w-full sm:w-3/5">
						<form id="redeem-gift-form" autocomplete="off" class="bg- p-6">
							<h3 class="text-center text-white">Ingresa tu código de regalo</h3>
							<p class="text-center text-white">Ingresa el código que recibiste de tu amigo para que puedas reclamar tu regalo.</p>
							<input type="text" placeholder="Código" />
							<button>Reclamar</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>

	<vtex:template id="Tapit-footer" />

	<vtex:template id="Tapit-scripts" />
</body>
</html>
