<div class="container mx-auto mb-20 relative overflow-x-hidden">
  <div class="inline-block w-full sm:w-6/12 align-middle p-4">
    <div *ngIf="!stage">
      <h1 class="title text-2xl my-10 sm:mt-0 sm:mb-8">Restablecer <span class="text-primary-500">contraseña</span></h1>
      
      <p class="text-neutral-800 mb-8 text-base">Ingresa tu correo electrónico, te enviaremos un link para que puedas restablecer tu contraseña.</p>
        
      <form (ngSubmit)="recoveryPassword()" [formGroup]="emailForm">
        <div class="text-left mb-8">
          <label class="font-bold text-neutral-800 block mb-2" for="email">Email</label>
          <input (focus)="emailForm.get('email').markAsUntouched()"
            [class.border-danger-500]="emailForm.invalid && emailForm.get('email').touched"
            class="app-input block w-full lg:w-8/12 sm:ml-0 border" formControlName="email" id="email" type="email">
          <p *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched" class="text-danger-500 pl-2">Debes ingresar un email</p>
          <p *ngIf="emailForm.get('email').hasError('pattern')  && emailForm.get('email').touched" class="text-danger-500 pl-2"> El formato de email no es correcto</p>
        </div>
    
        <button class="app-button bg-primary-500 block mx-auto sm:ml-0">RECUPERAR CONTRASEÑA</button>
      </form>
    </div>
  
    <div *ngIf="stage==='sentEmail'">
      <h1 class="title text-2xl my-10 sm:mt-0 sm:mb-8">Restablecer <span class="text-primary-500">contraseña</span></h1>
      <p class="text-neutral-800 mb-8 text-base">Hemos enviado a tu correo un link para crear una nueva contraseña.</p>
    
      <a class="app-button bg-primary-500 block mx-auto sm:ml-0 inline-block" href="/">ACEPTAR</a>
    </div>
  
    <div *ngIf="stage==='setNewPassword'">
      <h1 class="title text-2xl my-10 sm:mt-0 sm:mb-8">Nueva <span class="text-primary-500">contraseña</span></h1>
    
      <p class="text-neutral-800 mb-8 text-base">Ingresa una nueva contraseña para <span class="font-bold">{{resetEmail}}</span></p>
      
      <form (ngSubmit)="setNewPassword()" [formGroup]="passwordForm">
        <div class="text-left mb-8">
          <label class="font-bold text-neutral-800 block mb-2" for="newPassword">Nueva contraseña</label>
          <div class="relative">
            <input #password (focus)="passwordForm.get('password').markAsUntouched()"
              [class.border-danger-500]="passwordForm.invalid && passwordForm.get('password').touched"
              class="app-input block w-full lg:w-8/12 sm:ml-0 border" formControlName="password" id="newPassword"
              type="password">
            <div class="absolute top-0 right-0 h-full p-1 pr-2 flex items-center lg:w-5/12">
              <i (click)="password.type = password.type === 'password' ? 'text' : 'password'"
                [class.uil-eye-slash]="password.type !== 'password'" [class.uil-eye]="password.type === 'password'"
                class="uil uil-eye text-xl bg-white cursor-pointer"></i>
            </div>
          </div>
          <p *ngIf="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched" class="text-danger-500 pl-2">Debes ingresar una contraseña</p>
          <p *ngIf="passwordForm.get('password').hasError('minlength') && passwordForm.get('password').touched" class="text-danger-500 pl-2">La contraseña debe tener al menos 6 caracteres</p>
        </div>
    
        <button class="app-button bg-primary-500 block mx-auto sm:ml-0">GUARDAR CONTRASEÑA</button>
      </form>
    </div>

    <div *ngIf="stage==='linkLapsed'">
      <h1 class="title text-2xl my-10 sm:mt-0 sm:mb-8">Nueva <span class="text-primary-500">contraseña</span></h1>
  
      <div class="flex flex-row items-start  mb-8">
        <i class="uil uil-exclamation-circle bg-danger-300 text-2xl icon mr-4"
          style="border-radius: 40%; background: #F85464;"></i>
        <p class="flex-1 text-neutral-800 text-base">Este link ha caducado o ha sido utilizado previamente. Si deseas puedes volver a restablecer tu contraseña.</p>
      </div>
      <button (click)="stage=''" class="app-button bg-primary-500 block mx-auto sm:ml-0">RESTABLECER CONTRASEÑA</button>
    </div>
  
    <div *ngIf="stage==='passwordChanged'">
      <h1 class="title text-2xl my-10 sm:mt-0 sm:mb-8">Contraseña <span class="text-primary-500">restablecida</span></h1>
      <p class="text-neutral-800 mb-8 text-base">Ahora puedes acceder con tu nueva contraseña.</p>
    
      <a class="app-button bg-primary-500 block mx-auto sm:ml-0 inline-block" href="/">INICIA SESIÓN</a>
    </div>
  </div>

  <div class="w-4/12 inline-block align-top sm:w-6/12 sm:align-middle">
    <img class="max-w-none relative people" src="../assets/images/people.png" alt="people">
  </div>
</div>
