<ng-template #ageGate let-modal>
  <div id='agegate-modal' class='agegate row center-sm middle-sm bg-black bg-opacity-60 h-full left-2 fixed top-0 w-full z-10'>
    <div class='container center-xs row'>
      <div class='agegate__content col-xs-12 col-lg-7 center-xs middle-sm top-xs row bg-white'>
        <div>
          <p class="section__text">¡Hola!</p>
          <p class="section__text">Por favor ingresa tu fecha de nacimiento</p>
          <p class="section__text text-sm cookies-policies">Debes ser mayor de 18 años para acceder. Al ingresar, aceptas
            que utilizamos cookies para personalizar contenido y anuncios, proporcionar funciones de redes sociales y
            analizar nuestro tráfico. También compartimos información sobre cómo usted utiliza nuestro sitio con
            nuestros socios de redes sociales, de publicidad y de analítica.</p>
          <form class='agegate__form row center-xs middle-xs' #ageGateForm="ngForm" (ngSubmit)="checkAge()">
            <input type="text" maxLength="2" placeholder="DD" label-for="day" id="day" name="day" [(ngModel)]="birthdate.day"/>
            <input type="text" maxLength="2" placeholder="MM" label-for="month" id="month" name="month" [(ngModel)]="birthdate.month"/>
            <input type="text" maxLength="4" placeholder="AAAA" label-for="year" id="year" name="year" [(ngModel)]="birthdate.year"/>
            
            <p *ngIf="isAdult == false" class="section__text col-xs-12">Debes ser mayor de 18 años para acceder</p>
            <p *ngIf="isAdult == 'invalid'" class="section__text col-xs-12">Por favor ingresa una fecha válida</p>
            <div class="col-xs-12 center-xs">
              <button class="section__button bg-primary-500 text-white leading-4" type="submit" [disabled]="!ageGateForm.valid">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>