<div class="flex flex-col fixed inset-0">
    <app-header selectedTab="recoverPassword"></app-header>

    <div *ngIf="!emailSent" class="container mx-auto relative bg-white px-6 pt-8 pb-24 overflow-y-auto flex-1"
         [ngClass]="{'bg-footer-bubble':config.showContainerBackground}">
      <h1 class="font-bold text-center mb-3 text-lg">{{'RECOVER_PASSWORD.TITLE' | translate }}</h1>
      <p class="text-center mb-3 text-base text-neutral-800">{{'RECOVER_PASSWORD.INSTRUCTIONS' | translate }}</p>
      <form (ngSubmit)="recoverPassword()" [formGroup]="recoverPasswordForm">
        <div class="text-left mb-6">
          <label class="font-bold text-neutral-800 block mb-2" for="email">{{'RECOVER_PASSWORD.EMAIL' | translate }}</label>
          <input (focus)="recoverPasswordForm.get('email').markAsUntouched()"
                 [class.border-danger-500]="recoverPasswordForm.get('email').invalid && recoverPasswordForm.get('email').touched"
                 [value]="config.loginEmail"
                 class="app-input block w-full" formControlName="email" id="email" type="email">

          <p *ngIf="config.loginEmailHint" class="pl-2 text-neutral-700 italic">{{config.loginEmailHint}}</p>

          <p *ngIf="recoverPasswordForm.get('email').hasError('required') && recoverPasswordForm.get('email').touched"
             class="text-danger-500 pl-2">
            {{validationMessages.email.required | translate}}
          </p>
          <p *ngIf="recoverPasswordForm.get('email').hasError('pattern')  && recoverPasswordForm.get('email').touched"
             class="text-danger-500 pl-2">
            {{validationMessages.email.pattern | translate}}
          </p>
        </div>
        <button class="app-button bg-primary-500 min-width-18 mb-2 block mx-auto uppercase" type="submit">
          {{'RECOVER_PASSWORD.RECOVER_PASSWORD' | translate }}
        </button>
      </form>
    </div>

    <div *ngIf="emailSent" class="container mx-auto relative bg-white px-6 pt-8 pb-24 overflow-y-auto flex-1"
    [ngClass]="{'bg-footer-bubble':config.showContainerBackground}">
      <img class="relative mx-auto" src="assets/images/like.svg">
      <h1 class="font-bold text-center mb-3 text-lg">{{'RECOVER_PASSWORD.EMAIL_SENT' | translate }}</h1>
      <p class="text-center mb-3 text-base text-neutral-800">{{'RECOVER_PASSWORD.EMAIL_SENT_TEXT' | translate }}</p>
      <button class="app-button bg-primary-500 min-width-18 my-12 block mx-auto uppercase" routerLink="/login">
        {{'RECOVER_PASSWORD.LOGIN' | translate }}
      </button>
      <p class="text-center mb-3 text-base">{{'RECOVER_PASSWORD.LINK_NOT_RECEIVED' | translate }}
        <a class="text-primary-500 cursor-pointer" (click)="recoverPassword()">
          {{'RECOVER_PASSWORD.RESEND' | translate }}
        </a>
      </p>
    </div>
  </div>
