.title {
  max-width: 12rem;

  @media screen and (min-width: 640px) {
    max-width: none;
  }
}

.people {
  position: absolute;
  height: 15rem;
  right: -10rem;
  top: -4rem;

  @media screen and (min-width: 640px) {
    position: relative;
    height: 30rem;
    right: -2rem;
    top: -4rem;
  }
}

.icon:before {
  vertical-align: middle;
  margin: 1rem;
}

