<app-modal
  [visible]="myModal"
  (close)="closeModal($event)"
  [currentItem]="currentItem"
  [cardType]="cardType">
</app-modal>
<div (click)="openModal('promo')" class="flex list-product--item w-full">
  <div
    class="w-full py-2 border-4 border-white rounded-md shadow-sm cursor-pointer text-center box-product mb-3 bg-neutral-100">
    <div class="relative">
      <img class="box-product--img bg-{{color}}-500 px-8 rounded-md" src="{{imgUrl}}" alt="" />
      <!-- <span class="glop bg-black text-white text-xs font-bold rounded-full leading-none py-1 px-2">{{promoType}}</span> -->
    </div>
    <div class="box-product--title">
      <p class="text-sm pt-4 font-bold">{{title}}</p>
      <p class="text-xs">{{promotion}}</p>
    </div>
    <p
      class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 rounded-full points"
      [ngClass]="{'bg-white': red, 'text-primary-500': red, 'bg-primary-500': !red}">{{points}} Pts.</p>
  </div>
</div>