<div class="container mx-auto relative sm:rounded-xl bg-white p-6">
  <app-login-header [isShowingBackButton]="true" title="Ya tengo una cuenta"></app-login-header>

  <form (ngSubmit)="login()" [formGroup]="loginForm" class="text-center">
    <div class="text-left mb-8">
      <label class="font-bold text-gray-800 block mb-2" for="email">Email</label>
      <input (focus)="loginForm.get('email').markAsUntouched()"
             [class.border-red-500]="loginForm.get('email').invalid && loginForm.get('email').touched"
             [value]="config.userEmail"
             class="app-input block w-full" formControlName="email" id="email" type="email">
      <p *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched"
         class="text-red-500 pl-2">
        {{validationMessages.email.required}}
      </p>
      <p *ngIf="loginForm.get('email').hasError('pattern')  && loginForm.get('email').touched"
         class="text-red-500 pl-2">
        {{validationMessages.email.pattern}}
      </p>
    </div>

    <div class="text-left mb-8">
      <label class="font-bold text-gray-800 block mb-2" for="password">Contraseña</label>
      <input (focus)="loginForm.get('password').markAsUntouched()"
             [class.border-red-500]="loginForm.get('password').invalid && loginForm.get('password').touched"
             class="app-input block w-full" formControlName="password" id="password" type="password">

      <p *ngIf="config.passwordInfo" class="pl-2">Usa tu cédula como contraseña</p>

      <p *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched"
         class="text-red-500 pl-2">
        {{validationMessages.password.required}}
      </p>
    </div>

    <button class="app-button bg-orange-500 min-width-18 mb-8 block mx-auto" type="submit">
      INGRESAR
    </button>

    <a class="font-bold text-orange-500 text-left text-sm block mb-16 text-center"
       href="/app/auth/recovery-password" target="_blank">
      ¿OLVIDASTE TU CONTRASEÑA?
    </a>
  </form>
</div>
