$primary-colors: (50: #fceae8, 100: #f8c9c5, 200: #f3a69e, 300: #ee8277, 400: #ea6759, 500: #e64c3c, 600: #e34536, 700: #df3c2e, 800: #db3327, 900: #d5241a, A100: #ffffff, A200: #ffd7d5, A400: #ffa6a2, A700: #ff8e89, contrast: (50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000));

$accent-colors: (50: #e2f8f3, 100: #b6ede1, 200: #86e2cd, 300: #56d6b9, 400: #31cdaa, 500: #0dc49b, 600: #0bbe93, 700: #09b689, 800: #07af7f, 900: #03a26d, A100: #ccffec, A200: #99ffd9, A400: #66ffc6, A700: #4dffbc, contrast: (50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000));

$warn-colors: (50: #f1e0e0, 100: #dbb3b3, 200: #c48080, 300: #ac4d4d, 400: #9a2626, 500: #880000, 600: #800000, 700: #750000, 800: #6b0000, 900: #580000, A100: #ff8a8a, A200: #ff5757, A400: #ff2424, A700: #ff0a0a, contrast: (50: #000000, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #ffffff, A700: #ffffff));

$dark-gray: #2b2b2b;
$color-red: #c31f39;
$color-gray-dark: #1D1B1B;
$color-white: #FFF;
$color-yellow: #F1C743;
$darkGrayColor: #3C474A;
$mainColor: #FF5005;
