@font-face {
  font-family: filson-soft;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/FilsonSoftRegular.woff') format('woff'),
  url('assets/fonts/FilsonSoftRegular.woff2') format('woff2');
}

@font-face {
  font-family: filson-soft;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/FilsonSoft-Bold.woff') format('woff'),
  url('assets/fonts/FilsonSoft-Bold.woff2') format('woff2');
}
