@font-face {
  font-family: filson-soft;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../dist/assets/fonts/filson-soft-book.otf') format('opentype');
}

@font-face {
  font-family: filson-soft;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../dist/assets/fonts/FilsonSoft-Bold.woff') format('woff'),
  url('../../dist/assets/fonts/FilsonSoft-Bold.woff2') format('woff2');
}
