@import "../../../assets/styles/variables";

.legacy-container {
    .image-mobile {
        width: 100%;
    }
    &.container-hero {
        background-image: url('/assets/images/hero-mobile.jpg');
        background-position: center top;
        background-size: cover;
        height: 145vw;
        position: relative;
        @media screen and (min-width: $tablet){
            background-image: url('/assets/images/hero-desktop.jpg');
            height: 620px;
        }
        .container-hero__bottom {
            bottom: 0;
            position: absolute;
            @media screen and (min-width: $tablet){
                position: relative;
            }
            .container-hero__text {
                color: white;
                font-size: 20px;
                margin: 10px 0;
                text-align: center;
                @media screen and (min-width: $tablet){
                    font-size: 30px;
                }
                span {
                    font-weight: 600;
                    &.red {
                        color: $redColor;
                    }
                }
            }
        }
        .container-hero__more {
            padding: 0 0 10px;
            text-align: center;
            img {
                cursor: pointer;
            }
        }
    }
}
