<div class="bg-white ganapuntos relative">
    <div class="container mx-auto">
        <h2 class="w-full text-bg text-left pb-3 t-4 w-auto ganapuntos--title">Así <span
                class="w-full text-bg text-left pb-3 t-4 w-auto c-orange">redimes </span>nuestros puntos</h2>
        <h2 class="w-full text-bg text-left pb-3 t-4 w-auto ganapuntos--subtitle c-gray">Estas a 3 pasos de disfrutar de
            tus polas, es muy fácil: </h2>

        <div class="container mx-auto cards">

            <!-- mini cards -->
            <div class="minicardsContainer pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                <!-- minicard 1 -->
                <div class="minicard">
                    <div class="minicard--image">
                        <img src="../../../assets/images/ganapuntos/Imagebusca-banner.png" alt="">
                    </div>
                    <div class="minicard--text">
                        <h2 class=""> <span class="c-orange">Busca </span>
                        </h2>
                        <p class="parrminiCard c-black">El producto que quieres.
                            Puede ser pola o merchandising
                        </p>
                    </div>
                </div>

                <!-- minicard 2 -->
                <div class="minicard">
                    <div class="minicard--image">
                        <img src="../../../assets/images/ganapuntos/Imagepaga-con-puntos-banner.png" alt="">
                    </div>
                    <div class="minicard--text">
                        <h2 class=""> <span class="c-orange">Paga con puntos </span>
                        </h2>
                        <p class="parrminiCard c-black">Haz clic en el campo <strong>“Puntos disponibles”</strong>, puedes pagar todo con puntos o solo una parte
                        </p>
                    </div>
                </div>

                <!-- minicard 3 -->

                <div class="minicard">
                    <div class="minicard--image">
                        <img src="../../../assets/images/ganapuntos/Imagepagar-banner.png" alt="">
                    </div>
                    <div class="minicard--text">
                        <h2 class=""> <span class="c-orange">Ir a pagar </span>
                        </h2>
                        <p class="parrminiCard c-black">Haz clic en <strong>“Ir a pagar”</strong>
                            Y listo, tus polas llegan a tu casa
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 1 -->
            <a href="https://www.google.com/maps/d/u/0/embed?mid=1dVJQqjVUtRFz27yRhmYaS4zer-raroo-&ll=5.026375290065464%2C-73.86987775454514&z=8"
                target="_blank" class="cardClik">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="titleCard"> <span class="c-orange">Consumiendo </span>en nuestros comercios
                                aliados
                            </h2>
                            <p class="parrminiCard c-gray">Conoce aquí dónde puedes sumar puntos por comprar, o pasar un
                                rato
                                tomando una pola. ¡Para que sigas encontrando a Tap It a donde vayas!</p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="https://www.google.com/maps/d/u/0/embed?mid=1dVJQqjVUtRFz27yRhmYaS4zer-raroo-&ll=5.026375290065464%2C-73.86987775454514&z=8"
                                target="_blank" class="linkCard c-orange">¡Conocer más!"</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <img src="../../../assets/images/ganapuntos/comercios-aliados.png" alt="Image Here">
                    </div>
                </div>
            </a>


        </div>
        <div class="w-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>