<div class="container mx-auto bg-pattern p-2">
  <div class="inline-block align-middle w-full text-center sm:w-1/4">
    <img src="assets/images/bottle.svg">
  </div>

  <div class="inline-block align-middle w-full sm:w-3/4">
    <h3 class="text-red-500 text-2xl sm:text-5xl font-bold">¡Ya estás participando!</h3>

    <p class="py-2 text-gray-700 sm:text-xl"><span class="font-bold">Haz enviado la foto de tu factura con éxito.</span>
      Revisaremos que ésta cumpla con las condiciones y durante las próximas <span class="font-bold">48 horas</span>
      recibirás en tu correo un link con tu premio y los pasos a seguir.</p>

    <button
      class="my-4 mx-auto px-8 py-4 bg-orange-500 font-bold text-white rounded-xl block mx-auto focus:outline-none align-bottom"
      routerLink="../home">ADJUNTA OTRA FACTURA
    </button>
  </div>
</div>
