.bg-profile {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.bg-profile-small {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.bg-profile-small-bubbles {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}