body.category{
	cursor: initial !important;

	&.desktop {
		#filter-wrapper{
			padding-bottom: 0px;
		}
	}

	.intro{
		margin-bottom: 20px;
		@media #{$mediaMobile}{
			padding: 0 20px;
		    box-sizing: border-box;
		}
		h1{
			color: $orange;
			font-size: 10px;
			text-transform: uppercase;
		}
		h2:nth-child(2){
			color: $orange;
		}
		p{
			color: $border;
		}
	}

	.vitrine{
		.pager.top{
			display: none !important;
        }
        .pager.bottom{
            text-align: center;
        }
		ul.pages{
			text-align: center;
			margin-top: 15px;
			margin-bottom: 5px;
            padding-bottom: 20px;
            display: inline-block;
			li{
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				width: 35px;
				height: 35px;
				text-align: center;
				border-radius: 13px;
				border: 2px solid $generalColor;
				transition: all .3s;
				padding: 9px 0;
				font-size: 12px;
				margin: 0 5px;
				font-weight: bold;
				line-height: 1;
				&.pgCurrent{
					color: white;
					background-color: $generalColor;
				}
				&.previous, &.next{
					font-size: 0;
				}
				&.previous:before, &.next:before{
					content: "";
					font-size: 15px;
					font-family: unicons;
					font-style: normal;
					font-weight: 400;
					speak: none;
					display: inline-block;
					text-decoration: inherit;
					width: 1em;
					margin-right: .2em;
					text-align: center;
					font-variant: normal;
					text-transform: none;
					line-height: 1em;
					margin-left: .2em;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
				&.previous:before{
					content: '\ec49';
				}
				&.next:before{
					content: '\eb9f';
				}
				&.first, &.last{
					display: none;
				}
			}
		}

		.product-grid .product-grid {
			//padding-top: 30px;
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			& > ul {
				flex: 0 0 25%;
				max-width: 25%;
				@media #{$mediaMobile} {
					flex: 0 0 33.333%;
					max-width: 33.333%;
				}
				@media #{$mediaMobileSmall} {
					flex: 0 0 50%;
					max-width: 50%;
				}

				li {
					list-style: none;
					position: relative;
					& > div{
						margin: 15px 0 0 0;
						//&[data-pi="57"]{
							//display: none;
						//}
					}
				}
			}
		}
	}

	#returnToTop, .searchResultsTime, .resultado-busca-filtro{
		display: none !important;
	}
}

.category-dropdowns{
	padding: 0 20px;
	box-sizing: border-box;
	margin: 10px 0 20px 0;
	font-weight: bold;
	#filter-dropdown{
		cursor: pointer;
		color: $orange;
		font-size: 12px;
		i{
			color: $generalColor;
			font-size: 14px;
		}
	}
}

.modal{
	transition: bottom .3s;
	bottom: -40px;
	&.active{
		bottom: 0;
	}
}

#modals-overlay{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 10000;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
}

#filter-wrapper{
	position: sticky;
	top: 0;
	background-color: $white2;
	border: 4px solid white;
	box-sizing: border-box;
	padding-bottom: 5px;

	@media #{$mediaMobileMedium} {
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		border-radius: 20px 20px 0 0;
		z-index: 50;
		top: initial;
		padding-bottom: 50px;
		background-color: white;
		z-index: 10001;
    }
    .navigation-tabs{
        @media #{$mediaMobileMedium} {
            max-height: 360px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
	.menu-departamento{
		h3, h4, .menu-navegue, .bt-refinar, fieldset h5{
			display: none;
		}
	}
	.close-modal{
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 1px;
		font-size: 1.5rem;
	}
	.filters-title{
		padding: 15px 15px 10px 15px;
		font-size: 10px;
		color: $gray3;
		@media #{$mediaMobileMedium} {
			padding: 15px 0px 10px 0px;
			width: 90%;
			margin: auto;
			border-bottom: 1px solid $gray1;
			margin-bottom: 5px;
		}
	}
	#trigger-all-filters{
		cursor: pointer;
		padding: 10px 15px;
		transition: all .3s;
		margin: 0;
		&.active{
			color: $orange;
			background-color: $white4;
		}
	}
	fieldset{
		display: block;
		label{
			display: block;
			cursor: pointer;
			padding: 11px 15px 10px 35px;
			box-sizing: border-box;
			transition: all .3s;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 11px;
				left: 2px;
				height: 23px;
				width: 23px;
				border: 2px solid $generalColor;
				border-radius: 8px;
				transition: all .3s ease-in-out;
				@media #{$mediaMobileMedium} {
					top: 9px;
				}
			}
			&.disabled{
				pointer-events: none;
			}
			&.sr_selected{
				&:before{
					background-color: $orange;
					border: 2px solid $orange;
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					left: 11px;
					top: 16px;
					width: 5px;
					height: 11px;
					border: solid white;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
					@media #{$mediaMobileMedium} {
						top: 14px;
					}
				}
			}
			input{
				display: none;
			}
		}
	}
	#clear-filters{
		cursor: pointer;
		color: $gray3;
		font-size: 12px;
		display: inline-block;
		margin: 10px 15px;
		padding: 5px 0;
		transition: all .3s;
		&:hover{
			color: $orange;
		}
		@media #{$mediaMobileMedium} {
			&:hover{
				color: $gray3;
			}
		}
	}
}



#scroll-loading {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	div{
		position: absolute;
		top: 33px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $orange;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);
		&:nth-child(1){
			left: 8px;
			animation: scroll-loading-1 0.6s infinite;
		}
		&:nth-child(2) {
			left: 8px;
			animation: scroll-loading-2 0.6s infinite;
		}
		&:nth-child(3) {
			left: 32px;
			animation: scroll-loading-2 0.6s infinite;
		}
		&:nth-child(4) {
			left: 56px;
			animation: scroll-loading-3 0.6s infinite;
		}
	}
}


@keyframes scroll-loading-1 {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}
@keyframes scroll-loading-3 {
	0% { transform: scale(1); }
	100% { transform: scale(0); }
}
@keyframes scroll-loading-2 {
	0% { transform: translate(0, 0); }
	100% { transform: translate(24px, 0); }
}
