.bg-footer {
    background-image: url('/arquivos/background-footer.png');
    font-size: 16px;
    @media screen and (max-width: $mobileSmall) {
        background-position: 10vw bottom;
        //margin: 0 -12px;
        //width: calc(100% + 24px);
    }
    .pt-8 {
        padding-top: 2rem !important;
    }
	a{
		&:hover, &:focus{
			color: #191419;
			text-decoration: none;
		}
	}
}
body {padding: 0;}
