body{
	background-color: white;
	&.overflow{
		overflow: hidden;
	}
}


body:not(.body-order-form):not(.body-cart){
	opacity: 0;
	transition: opacity .3s ease-in-out;
	padding: 0 0 0 0;
	@media #{$mediaMobileMedium} {
		padding: 0 0 50px 0;
		&.home{
			padding: 60px 0 50px 0;
		}
		&.fixHeader{
			padding: 0 0 0 0 !important;
			&.home, &.sub-category{
				padding: 0 0 50px 0 !important;
			}
		}
		&.desktop{
			padding: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	&.page-active{
		opacity: 1;
	}
	&.produto{
		padding-bottom: 0;
		.product-subtitle{
			font-size: initial;
			font-weight: bold;
			margin-bottom: 10px;
		}
	}
	&.brand{
		@media #{$mediaMinMobileMedium} {
			.product-grid .product-grid > ul{
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}
	&.quick-view, &:not(.desktop){
		iframe#launcher{
			display: none;
		}
	}
}

#ajaxBusy {
  display: none !important;
}


.container{
	max-width: 1280px;
	width: 90%;
	@media #{$mediaMobile}{
		width: 100%;
	}
}

.general-color{
	color: $generalColor;
}
.orange-color{
	color: $orange;
}

#home-page{
	.intro{
		padding: 0 20px;
		box-sizing: border-box;
		h1, p{
			color: $border;
		}
		h1{
			line-height: 1.2;
			margin-bottom: 10px;
		}
	}
}

//Products
body:not(.category){
	.product-grid {
		padding-top: 30px;
		ul {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			li {
				list-style: none;
				position: relative;
				flex: 0 0 25%;
				max-width: 25%;
				@media #{$mediaMobile} {
					flex: 0 0 33.333%;
					max-width: 33.333%;
				}
				@media #{$mediaMobileSmall} {
					flex: 0 0 50%;
					max-width: 50%;
				}
				& > div{
					margin: 15px 0 0 0;
					//&[data-pi="57"]{
						//display: none;
					//}
				}
				.image-wrapper{
					img{
						padding-top: 25px;
					}
				}
			}
		}
	}
}

//Vitrinas

#confirm-purchase{
	display: none;
	.underline-dots{
		position: relative;
		overflow: hidden;
		clear: both;
		span{
			position: relative;
			display: inline-block;
			z-index: 0;
			background-color: white;
			padding: 3px;
			box-sizing: border-box;
			&:last-child{
				float: right;
			}
		}
		&:after{
			content: "";
			display: block;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 9px;
			border-bottom: 2.5px dotted;
		}
	}
	.rounded-t-lg{
		position: relative;
		border-radius: 13px 13px 0 0;
		padding-bottom: 5px;
		top: 100px;
		transition: top .3s ease-in;
		&.active{
			top: 0px;
		}
	}
	.close-purchase{
		cursor: pointer;
		position: absolute;
		top: 20px;
		right: 20px;
		border-radius: 50%;
		padding: 1px 0;
		color: $generalColor;
		z-index: 5;
		line-height: 1;
		width: 21px;
		text-align: center;
	}

	.custom-checlbox{
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		user-select: none;
		input{
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;
			&:checked ~ .checkmark {
				background-color: $orange;
				border: 2px solid $orange;
			}

		}
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 23px;
			width: 23px;
			border: 2px solid $generalColor;
			border-radius: 8px;
			transition: all .3s ease-in-out;
			&:after{
				content: "";
				display: block;
				position: absolute;
				left: 7px;
				top: 3px;
				width: 5px;
				height: 11px;
				border: solid white;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}
	}


}

.product-detail .apresentacao *{
	width: 100%;
	display: block;
}


#go-to-checkout{
	&.disabled{
		pointer-events: none;
		color: $gray2;
		background-color: $gray1;
	}
}

.container-busqueda-vacia{
	height: auto;
	min-height: 500px;
	display: flex;
	align-items: center;

	& > div{
		width: 100%;
	}

	@media #{$mediaMobile}{
		min-height: 50vh;
	}
	h2, p{
		width: 100%;
		text-align: center;
		color: $generalColor;
	}
	h2{
		font-size: 1.3rem;
	}
	p{
		font-size: 1.5rem;
		font-weight: bold;
		margin-top: 20px;
	}
	&.container-error-page{
		p{
			font-size: 2rem;
		}
	}
}


.ui-autocomplete.ui-menu{
	display: none !important;
}


::-moz-selection {
    color: #ffffff;
    background: $orange;
}

::selection {
    color: #ffffff;
    background: $orange;
}

.bg-danger-500 {
  background-color: #F85464;
}

.gray-scale {
    filter: grayscale(1);
}
