body.iframe-page {
    header.header,
    #header-bar,
    .breadCrumbs-wrapper,
    footer {
        display: none;
    }

    &.bbc-product-page {
        .productName {
            color: red;
        }

        .product-subtitle {
            color: blue;
        }

        #tag-list {
            .bg-secondary-500 {
                background-color: green;
            }
        }

        #product-pricing {
            .valor-de {
                color: pink;
            }

            .valor-por {
                color: orange;
            }
        }

        #product-pricing + .text-primary-500 {
            color: fuchsia;
        }

        h3.tracking-widest {
            color: yellowgreen;
        }

        h3.tracking-widest + .bg-success-500 {
            background-color: teal;
        }

        h3.tracking-widest + .bg-success-500 + .bg-secondary-500 {
            background-color: rosybrown;
        }

        .buy-button {
            background-color: aqua;
        }
    }
}