

body.redeem-gift{
    #header-bar, footer{
        margin: 0;
    }
    
    main{
        background-color: #b90030;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/arquivos/background-redeem.png?v=2');
    }
}