<div class="container container-qr" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center start">
    <div class="container container-qr__text" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign.xs="center start"  fxLayoutGap="50px">
        <div fxFlexAlign="center">
            <h2>
                Reclama una Poker Roja con tu código QR
            </h2>
            <p>
                En dónde obtener tu Poker Roja 
            </p>
        </div>
        <div fxFlexAlign="center">
            <button mat-raised-button class="btn-red-squared">
                Quiero una Poker Roja
            </button>
        </div>
    </div>
</div>
