<header class="flex items-center justify-between mb-6">
  <div class="flex items-center">
    <a (click)="navigateBack()"><i *ngIf="isShowingBackButton" class="uil uil-arrow-left text-3xl mr-3"></i></a>
    <h1 class="text-lg font-bold">{{title}}</h1>
  </div>
  <a (click)="closePopup()" class="text-3xl cursor-pointer">
    <i class="uil uil-times-circle"></i>
  </a>
</header>

<div class="mb-8">
  <img class="mx-auto mb-2" src="/assets/images/tap-it_black-orange.svg" style="height: 64px">
  <p class="text-center text-xs"><span class="bg-gray-100 border-2 border-white px-2 py-1 shadow-md">{{'sloganLabel.simplePart' | translate }} <span
    class="text-orange-500">{{'sloganLabel.highlightedPart' | translate }}</span></span></p>
</div>