<header class="mb-8 bg-neutral-100 ">
  <a (click)="closePopup()" class="text-xl cursor-pointer absolute right-0 top-0 mr-4 mt-4"
     *ngIf="config.showCloseButton">
    <i class="uil uil-times-circle"></i>
  </a>

  <div class="mb-4 logo" *ngIf="config.logoUrl">
    <img [src]="config.logoUrl" alt="LOGO" class="image block mx-auto">
  </div>

  <div class="mb-4" [innerHTML]="config.slogan" *ngIf="config.slogan"></div>

  <div class="text-center">
    <button class="inline-block text-sm font-bold px-4 py-3 focus:outline-none"
            [ngClass]="{'border-b-2 border-primary-500' : selectedTab === 'login'}" routerLink="../login">
      {{'HEADER.LOGIN_TAP' | translate}}
    </button>
    <button class="inline-block text-sm font-bold px-4 py-3 focus:outline-none"
            [ngClass]="{'border-b-2 border-primary-500' : selectedTab === 'sign-up'}" routerLink="../sign-up">
      {{'HEADER.SIGN_UP_TAP' | translate}}
    </button>
  </div>
</header>
