<article>
  <section *ngFor="let section of sections;" id="{{section.id}}">
    <app-user-text 
      *ngIf="section.type==='userText'"  
      [html]="section.body"
      [show]="section.show"
    >
    </app-user-text >
    <app-slider 
      *ngIf="section.type==='slider'"  
      [slides]="section.elements" 
      [scrollToSection]="scrollToSection"
      [config]="sliderConfig"
    >
    </app-slider>
    <app-beer-carrousel 
      *ngIf="section.type==='catalog'"  
      [slides]="section.elements"
      [link]="section.link" 
      [title]="section.title" 
      [description]="section.body" 
      [variant]="'catalog'"
      [config]="catalogConfig"
    >
    </app-beer-carrousel>
    <app-beer-carrousel 
      *ngIf="section.type==='recommended'" 
      [slides]="section.elements"
      [title]="section.title" 
      [variant]="'recommended'"
      [config]="recommendedConfig"
    >
    </app-beer-carrousel>
  </section>
</article>

