<div class="mb-4 md:mb-8 border-b border-solid border-neutral-500 bg-neutral-100">
  <div *ngIf="welcomeSection.type"
       [innerHTML]="user ? welcomeSection.messageAuthenticated : welcomeSection.messageAnonymous"
       class="container mx-auto py-2 px-4 px-5 text-sm text-secondary-500">
  </div>
</div>
<article>
  <section *ngFor="let section of sections;">
    <div *ngIf="section.type==='seasonal_section'" class="md:pl-0 pl-5 mb-16">
      <ngx-slick-carousel [config]="seasonalConfig">
        <div *ngFor="let slide of section.slides; let i=index;"
          class="seasonal-slide overflow-hidden mr-4 rounded-md mb-4 md:mr-0"
          ngxSlickItem>
          <div class="overflow-hidden image-container md:container md:mx-auto rounded-md rounded-b-none mb-4 md:m-4 md:mb-6 sm:hidden">
            <img [src]="slide.data.imageMobile.image_url" alt="image slide" class="mx-auto"/>
          </div>
          <div class="m-4 shadow-md relative overflow-hidden image-container md:container md:mx-auto rounded-md hidden sm:block">
            <img [src]="slide.data.imageDesktop.image_url" alt="image slide" class="mx-auto"/>
            <div class="seasonal-div-text container mx-auto absolute bottom-0 p-4 block sm:block bg-white" style="padding-left: 20px; padding-right: 20px;">
              <div class="relative flex flex-col md:flex-row md:justify-between md:items-center">
                <p [innerHTML]="slide.description" class="text-lg mb-3 md:mb-0 description"></p>
                <a [href]="slide.button.link" *ngIf="slide.button.link"
                   class="app-button bg-primary-500 text-center w-full md:w-56 md:mx-0 uppercase text-xs py-3"
                   target="_blank">{{slide.button.label}}</a>
              </div>
            </div>
          </div>

          <div class="seasonal-div-text-small p-4 block rounded-md sm:hidden">
            <div class="relative flex flex-col">
              <p [innerHTML]="slide.description" class="text-sm mb-3 h-16 description"></p>
              <a [href]="slide.button.link" *ngIf="slide.button.link"
                 class="app-button bg-primary-500 text-center w-full uppercase text-xs py-3"
                 target="_blank">{{slide.button.label}}</a>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

    <div *ngIf="section.type==='catalog'">
      <div [innerHTML]="section.title" class="container mx-auto px-5 text-lg font-bold text-secondary-500"></div>
      <div [innerHTML]="section.description" class="container mx-auto py-2 px-5 text-sm mb-2 text-secondary-500"></div>

      <div class="mb-4 bg-neutral-100">
        <div class="container mx-auto relative">
          <ngx-slick-carousel #slickModal="slick-carousel" [config]="catalogConfig"
                              class="py-5 inline-block">
            <a *ngFor="let slide of section.slides; let i=index;"
               [href]="slide.link"
               class="catalog-slide relative flex flex-col content-center justify-center items-center relative"
               ngxSlickItem>
              <img [src]="slide.image" alt="bottle" class="mx-auto"/>
              <img alt="shadow" class="mx-auto my-2" src="./assets/images/shadow.svg">
            </a>
          </ngx-slick-carousel>

          <img (click)="slickModal.slickPrev()" alt="previous" class="text-xl before cursor-pointer"
               src="./assets/images/next-prev-nav.svg">
          <img (click)="slickModal.slickNext()" alt="next" class="text-xl next cursor-pointer"
               src="./assets/images/next-prev-nav.svg">
        </div>
      </div>
      <div class="text-center mb-8">
        <a
          [href]="section.data.cta.uri"
          class="app-button border-2 border-black bg-white text-black text-center p-3 py-3 text-xs cursor-pointer uppercase hover:bg-black hover:text-white md:w-56">{{section.data.cta.title}}</a>
      </div>
    </div>

    <div *ngIf="section.type==='recommended_section'" class="container mx-auto mb-16">
      <div [innerHTML]="section.title" class="px-5 text-lg font-bold text-secondary-500"></div>

      <div class="relative">
        <ngx-slick-carousel [config]="recommendedConfig">
          <div *ngFor="let slide of section.slides; let i=index;"
               class="recommended-slide m-4 relative"
               ngxSlickItem>
            <div class="rounded-md p-5 h-full text-box flex flex-col justify-between">
              <header>
                <h6 [innerHTML]="slide.title" class="text-lg font-bold text-primary-500 mb-2 h-20 title"></h6>
                <p [innerHTML]="slide.description" class="text-sm mb-3 md:mb-0 text-neutral-800 description"></p>
              </header>
              <a [href]="slide.cta.uri"
                 class="app-button border-2 border-black bg-white text-black text-center p-3 py-3 text-xs cursor-pointer uppercase hover:bg-black hover:text-white ml-0">{{slide.cta.title}}</a>
            </div>
            <div class="image-container">
              <img [src]="slide.data.imageMobile.image_url" alt="image slide" class="mobile w-auto h-full"/>
              <img [src]="slide.data.imageDesktop.image_url" alt="image slide" class="desktop w-auto h-full"/>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </section>
</article>