<header class="bg-neutral-100">
  <a (click)="closePopup()" *ngIf="config.showCloseButton"
     class="text-xl cursor-pointer absolute right-0 top-0 mr-6 mt-4">
    <i class="uil uil-times-circle"></i>
  </a>

  <div *ngIf="isShowingBackButton" class="mb-4 logo" style="min-height: 65px;">
    <a (click)="navigateBack()">
      <img class="text-xl image absolute left-0 top-0 ml-6 mt-6" src="assets/images/back-arrow.png">
    </a>
  </div>

  <div *ngIf="config.logoUrl && isShowingLogo" class="mb-4 logo">
    <img [src]="config.logoUrl" alt="LOGO" class="image block mx-auto">
  </div>

  <div *ngIf="config.sloganHtml && isShowingSlogan" [innerHTML]="config.sloganHtml" class="mb-4"></div>

  <div *ngIf="isShowingTabs" class="text-center">
    <button [ngClass]="{'border-b-2 border-primary-500' : selectedTab === 'login'}"
            class="inline-block text-sm font-bold px-4 py-3 focus:outline-none" routerLink="../login">
      {{'HEADER.LOGIN_TAP' | translate}}
    </button>
    <button [ngClass]="{'border-b-2 border-primary-500' : selectedTab === 'sign-up'}"
            class="inline-block text-sm font-bold px-4 py-3 focus:outline-none" routerLink="../sign-up">
      {{'HEADER.SIGN_UP_TAP' | translate}}
    </button>
  </div>
</header>
