<div class="container mx-auto mb-20 pt-8">
  <div class="py-6 w-10/12 mx-auto">
    <h3 class="text-2xl font-bold text-black mb-8 z-10">Mi <span class="text-orange-500">Perfil</span></h3>
    <!--<button class="text-2xl absolute top-0 right-0 m-4 focus:outline-none">
      <i class="uil uil-times-circle"></i>
    </button>-->

    <section class="z-10 mb-8 relative overflow-hidden border-4 border-white bg-gray-100 shadow">
      <img class="absolute right-0 top-0 z-0" src="assets/images/bubble-5.png" style="right: -21rem; top: -9rem;">
      <div class="inline-block align-middle p-4">
        <img class="w-auto" src="assets/images/profile-placeholder.png">
      </div>

      <div class="inline-block align-middle p-6">
        <h3 class="text-xl font-bold text-3xl mb-6">{{user.firstName + ' ' + user.lastName}}</h3>
        <div class="inline-block align-middle mr-20 mb-4">
          <h3 class="text-xs tracking-widest text-gray-700 font-bold uppercase">Correo</h3>
          <p class="text-md sm:text-xl text-black">{{user.email}}</p>
        </div>

        <div class="inline-block align-middle mb-4">
          <h3 class="text-xs tracking-widest text-gray-700 font-bold">TUS PUNTOS</h3>
          <h1 class="text-md sm:text-xl text-orange-500 font-bold">{{user.points | number : '1.0'}}</h1>
        </div>
      </div>
    </section>

    <section class="border-4 border-white bg-gray-100 p-6 mb-8 shadow bg-image bg-no-repeat bg-left-bottom">
      <h1 class="text-xl font-bold">¡Invita un amigo y gana 120 puntos!</h1>
      <h2 class="text-lg text-gray-700 mb-6">Puedes invitar hasta 10 amigos al mes</h2>

      <div class="bg-black p-4 inline-block mb-8">
        <h2 class="text-xs text-white tracking-widest">TU CÓDIGO DE REFERIDO</h2>
        <h1 class="text-xl text-white font-bold">{{user.referralCode}}</h1>
      </div>

      <h2 class="text-lg text-gray-700 mb-6">Comparte tu código por:</h2>
      <div class="">
        <a class="app-button mr-2 text-black border-black border-2 py-2 mb-4 text-sm sm:text-base"
          href="https://www.facebook.com/dialog/share?app_id={{facebookAppId}}&display=popup&quote={{sharePlainMessage}}&href={{shareUrl}}&redirect_uri={{shareRedirectUrl}}}"
          target="_blank">FACEBOOK </a>
        <a class="app-button mx-2 text-black border-black border-2 py-2 mb-4 text-sm sm:text-base"
          href="https://twitter.com/share?url={{shareUrl}}&text={{sharePlainMessage}}" target="_blank">TWITTER </a>
        <a class="app-button mr-2 sm:mx-2 text-black border-black border-2 py-2 mb-4 text-sm sm:text-base"
          href="https://api.whatsapp.com/send?text={{shareMessage}}" target="_blank">WHATSAPP</a>
      </div>
    </section>

    <a (click)="logout()" class="text-orange-500 font-bold cursor-pointer">CERRAR SESIÓN</a>
  </div>
</div>