@import "../../../assets/styles/variables";
.bg-image {
    background-image: url('../../../assets/images/background_3-mobile.png');
    @media (min-width: $xs) {
        background-image: url('../../../assets/images/background_3.png');
    }
}
.code-container {
    height: 70px;
    min-width: 200px;
}
.button-share {
    @media (max-width: 330px) {
        margin-left: 5px;
        margin-right: 0;
    }
}
