* {
  font-family: filson-soft;
}

.text-20xl {
  font-size: 10rem;
  line-height: 6rem;

  @media (min-width: 640px) {
    font-size: 15rem;
    line-height: 8rem;
  }
}

.text-red-500 {
  color: #DF051C;
}

.bg-orange-500 {
  background: #FF5005;
}

.border-orange-500 {
  border-color: #FF5005;
}

.text-gray-400 {
  color: #E5E5E5;
}

.rounded-xl {
  border-radius: 1rem;
}

.event {
  height: 20rem;
}

.bill-input-section {
  background: url("../../../assets/images/bg.svg") no-repeat;
  background-size: cover;
}

.bm-color {
  mix-blend-mode: color;
}
.ng-star-inserted {
  width: 100%;
}
.events {
  margin: 0 auto;
  // max-width: 1366px;
  padding-bottom: 60px;
  width: 100%;
  :focus {
      outline: none;
  }
  &__slide {
      height: 755px;
      position: relative;
  }
  &__image {
      height: 100%;
      width: auto;
  }
  &__title {
      color: white;
      border-left: 1px solid white;
      border-top: 1px solid white;
      font-size: 60px;
      height: 310px;
      left: 20px;
      margin: 0;
      opacity: 0.5;
      padding: 12px;
      position: absolute;
      top: 20px;
      width: calc(100% - 60px);
  }
  &__text {
      bottom: 20px;
      font-size: 41px;
      left: 20px;
      line-height: 40px;
      position: absolute;
  }
  &__name {
      margin: 0;
  }
  &__required {
      color: white;
      margin: 0;
  }
}
.section {
  &__slider {
    width: 100%;
    &-mouse {
      display: block;
      margin: 37px auto 0;
      width: 26px;
    }
  }
  &__beers {
    margin: 0;
    padding: 50px 0 80px;
    width: 100%;
    &-container {
        width: 100%;
    }
    &-slider {
        &-image {
            background-image: url('../../../../../dist/assets/images/spacer.svg');
            background-position: top right;
            background-repeat: no-repeat;
            &:focus {
                outline: none;
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &-mouse {
            display: block;
            margin: 37px auto 0;
        }
    }
}
}

