<div class="container mx-auto px-2 py-10">
  <section class="flex mb-8">
    <h1 class="self-end text-15xl sm:text-20xl leading-none text-gray-400 font-bold">1</h1>

    <div class="flex-1 self-end p-2">
      <h3 class="text-red-500 text-2xl sm:text-5xl font-bold">Selecciona un evento</h3>
      <p class="py-2 text-gray-700 sm:text-xl">Solo por tiempo limitado con la compra de mínimo <span
        class="font-bold">6 cervezas</span> de las marcas de Bavaria <span class="font-bold">podrás acceder a eventos
          exclusivos.</span> Con cada factura tienes oportunidad para desbloquear los eventos. Próximamente encontrarás
        nuevos beneficios.</p>

      <footer class="relative border-b-2 border-gray-400">
        <svg width="10" height="10" class="absolute right-0" style="bottom: -0.35rem">
          <circle cx="5" cy="5" r="5" fill="#FF5005"/>
        </svg>
      </footer>
    </div>
  </section>

  <section class="block relative mb-20 events">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <div ngxSlickItem *ngFor="let event of events; let i=index;"
           class="overflow-hidden inline-block relative w-full sm:w-2/4 md:w-1/4 bg-black events__slide"
           (click)="selectEvent(i)">
        <img [src]="event.image" class="h-full max-w-none mx-auto"/>

        <div class="absolute inset-0"
             [ngClass]="event.isSelected ? 'bg-black opacity-50' : 'bg-gray-100 bm-color'"></div>

        <h3 class="text-white text-2xl sm:text-4xl font-bold events__title">{{i + 1 | number : '2.0' }}</h3>
        <div class="events__text text-xl sm:text-2xl">
          <h4 class="text-red-500 font-bold events__name">{{event.name}}</h4>
          <h4 class="text-white font-bold events__required">{{event.requiredBeers}} Cervezas</h4>
        </div>
      </div>
    </ngx-slick-carousel>
    <img *ngIf="isMobile" src="/assets/images/hand.svg" width="26" class="section__slider-mouse"/>
    <img *ngIf="!isMobile" src="/assets/images/mouse.svg" width="26" class="section__slider-mouse"/>
  </section>
</div>

<div class="bg-pattern">
  <div class="container mx-auto px-2 py-10">
    <section class="flex mb-8">
      <h1 class="self-end text-15xl sm:text-20xl leading-none text-gray-400 font-bold">2</h1>
      <div class="flex-1 self-end p-2">
        <h3 class="text-red-500 text-2xl sm:text-5xl font-bold">Carga tu factura</h3>
        <p class="py-2 text-gray-700 sm:text-xl">Envíanos una imagen de la factura de tu compra de cerveza.</p>

        <footer class="relative border-b-2 border-gray-400">
          <svg width="10" height="10" class="absolute right-0" style="bottom: -0.35rem">
            <circle cx="5" cy="5" r="5" fill="#FF5005"/>
          </svg>
        </footer>
      </div>
    </section>

    <section class="relative bill-input-section pt-10 p-4">
      <div class="sm:flex">
        <div class="sm:flex-1">
          <label for="bill" class="font-bold text-xl text-red-500 block mb-2">Número de factura*</label>
          <input id="bill" type="text"
                 class="text-center font-bold text-lg p-4 border border-orange-500 rounded-xl focus:outline-none"
                 [(ngModel)]="billNumber">

          <div class="relative text-center max-w-md">
            <div class="inline-block align-middle w-1/5 p-1"><img src="assets/images/partners/exito.png"
                                                                  class="w-100 mx-auto"></div>
            <div class="inline-block align-middle w-1/5 p-1"><img src="assets/images/partners/jumbo.png"
                                                                  class="w-100 mx-auto"></div>
            <div class="inline-block align-middle w-1/5 p-1"><img src="assets/images/partners/merqueo.png"
                                                                  class="w-100 mx-auto"></div>
            <div class="inline-block align-middle w-1/5 p-1"><img src="assets/images/partners/olimpica.png"
                                                                  class="w-100 mx-auto"></div>
            <div class="inline-block align-middle w-1/5 p-1"><img src="assets/images/partners/rappi.png"
                                                                  class="w-100 mx-auto"></div>
          </div>

          <p class="text-xs text-red-500 underline">*Solo se aceptarán facturas desde el 15 de Abril de 2020 en
            adelante.
            * Aplican términos y condiciones</p>

          <div class="mt-10 text-center" *ngIf="!selectedImage">
            <button
              class="px-8 py-4 bg-orange-500 font-bold text-white rounded-xl inline-block mx-auto focus:outline-none"
              (click)="inputFile.click()">SUBE TU FACTURA
            </button>
            <p class="text-xs text-gray-800 font-bold mt-2">Formatos válidos .jpg, .png máximo 5 megas.</p>
          </div>

          <div class="mt-10 text-center" *ngIf="selectedImage">
            <div class="inline-block max-w-sm text-center align-bottom">
              <img [src]="selectedImage.base64">
              <a class="block underline text-red-500 font-bold cursor-pointer m-2" (click)="inputFile.click()">Subir de
                nuevo</a>
            </div>

            <button
              (click)="sendFile()"
              class="sm:ml-4 px-8 py-4 bg-orange-500 font-bold text-white rounded-xl inline-block mx-auto focus:outline-none align-bottom">
              ENVIAR
            </button>
          </div>

          <input #inputFile (change)="selectedBill($event)" accept="image/png, image/jpg, image/jpeg" type="file"
                 hidden>
        </div>

        <div class="hidden sm:block sm:flex-1 relative max-w-sm">
          <img src="assets/images/bill.svg" class="w-full">
        </div>
      </div>

      <img src="assets/images/line.svg" class="my-16">
      <div class="row section section__beers center-xs section__beers-bg">
        <h2 class="text-red-500 font-bold text-center text-2xl sm:text-6xl mb-10">Nuestras Marcas</h2>
        <div class="section__beers-container">
          <ngx-slick-carousel fxLayout="row" class="section__beers-slider"
                              #slickModal="slick-carousel"
                              [config]="settings">
            <div ngxSlickItem *ngFor="let beer of beersImages; let i=index;" class="section__beers-slider-image row">
              <img [src]="beer" width="119"/>
            </div>
          </ngx-slick-carousel>
        </div>
        <img *ngIf="isMobile" src="../assets/images/hand.svg" width="26" class="section__slider-mouse"/>
        <img *ngIf="!isMobile" src="../assets/images/mouse.svg" width="26" class="section__slider-mouse"/>
      </div>

    </section>

  </div>
</div>
