* {
  font-family: filson-soft;
}

.text-20xl {
  font-size: 10rem;
  line-height: 6rem;

  @media (min-width: 640px) {
    font-size: 15rem;
    line-height: 8rem;
  }
}

.text-red-500 {
  color: #DF051C;
}

.bg-orange-500 {
  background: #FF5005;
}

.border-orange-500 {
  border-color: #FF5005;
}

.text-gray-400 {
  color: #E5E5E5;
}

.rounded-xl {
  border-radius: 1rem;
}

.event {
  height: 20rem;
}

.bill-input-section {
  background: url("../../../assets/images/bg.svg") no-repeat;
  background-size: cover;
}
