<div class="fixed inset-0 flex flex-col">
  <app-header [isShowingBackButton]="true" [isShowingLogo]="false" [isShowingSlogan]="false"
              [isShowingTabs]="false"></app-header>

  <div [ngClass]="{'bg-footer-bubble':config.showContainerBackground}"
       class="container mx-auto relative bg-white px-6 pt-8 pb-24 overflow-y-auto flex-1">

    <h3 class="font-bold text-lg text-center mb-8">{{'AGE_VALIDATOR.TITLE' | translate}}</h3>

    <form (ngSubmit)="submit()" [formGroup]="form" autocomplete="on">
      <div class="grid grid-cols-3 gap-4 mb-2">
        <div class="relative">
          <label class="font-bold text-sm text-neutral-800 block mb-2"
                 for="day">{{'AGE_VALIDATOR.DAY' | translate }}</label>
          <input (focus)="form.get('day').markAsUntouched()"
                 [class.border-danger-500]="form.get('day').invalid && form.get('day').touched"
                 class="app-input block w-full" formControlName="day" id="day" type="number">
          <i *ngIf="form.get('day').invalid && form.get('day').touched"
             class="absolute bottom-0 m-2 right-0 text-danger-500 text-xl uis uis-exclamation-circle"></i>
        </div>

        <div class="relative">
          <label class="font-bold text-sm text-neutral-800 block mb-2"
                 for="month">{{'AGE_VALIDATOR.MONTH' | translate }}</label>
          <input (focus)="form.get('month').markAsUntouched()"
                 [class.border-danger-500]="form.get('month').invalid && form.get('month').touched"
                 class="app-input block w-full" formControlName="month" id="month" type="number">
          <i *ngIf="form.get('month').invalid && form.get('month').touched"
             class="absolute bottom-0 m-2 right-0 text-danger-500 text-xl uis uis-exclamation-circle"></i>
        </div>

        <div class="relative">
          <label class="font-bold text-sm text-neutral-800 block mb-2"
                 for="year">{{'AGE_VALIDATOR.YEAR' | translate }}</label>
          <input (focus)="form.get('year').markAsUntouched()"
                 [class.border-danger-500]="form.get('year').invalid && form.get('year').touched"
                 class="app-input block w-full" formControlName="year" id="year" type="number">
          <i *ngIf="form.get('year').invalid && form.get('year').touched"
             class="absolute bottom-0 m-2 right-0 text-danger-500 text-xl uis uis-exclamation-circle"></i>
        </div>
      </div>

      <p *ngIf="form.get('day').hasError('required') && form.get('day').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.day.required | translate}}
      </p>

      <p *ngIf="form.get('day').hasError('pattern')  && form.get('day').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.day.pattern | translate}}
      </p>

      <p *ngIf="form.get('month').hasError('required') && form.get('month').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.month.required | translate}}
      </p>

      <p *ngIf="form.get('month').hasError('pattern')  && form.get('month').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.month.pattern | translate}}
      </p>

      <p *ngIf="form.get('year').hasError('required') && form.get('year').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.year.required | translate}}
      </p>

      <p *ngIf="form.get('year').hasError('pattern')  && form.get('year').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.year.pattern | translate}}
      </p>

      <button class="app-button bg-primary-500 my-8 block mx-auto uppercase w-full max-w-xs" type="submit">
        {{'AGE_VALIDATOR.SUBMIT_BUTTON' | translate }}
      </button>
    </form>
  </div>
</div>
