<div class="flex flex-col fixed inset-0">
  <app-header [isShowingBackButton]="true" [isShowingLogo]="false" [isShowingSlogan]="false"
              [isShowingTabs]="false"></app-header>

  <div [ngClass]="{'bg-footer-bubble':config.showContainerBackground}"
       class="container mx-auto relative bg-white px-6 pt-8 pb-24 overflow-y-auto flex-1">

    <form (ngSubmit)="submit()" [formGroup]="form" autocomplete="on">
      <div class="grid grid-cols-3 gap-4">
        <div>
          <label class="font-bold text-sm text-neutral-800 block mb-2"
                 for="day">{{'AGE_VALIDATOR.DAY' | translate }}</label>
          <input (focus)="form.get('day').markAsUntouched()"
                 [class.border-danger-500]="form.get('day').invalid && form.get('day').touched"
                 class="app-input block w-full" formControlName="day" id="day" type="number">

        </div>
        <div>
          <label class="font-bold text-sm text-neutral-800 block mb-2"
                 for="month">{{'AGE_VALIDATOR.MONTH' | translate }}</label>
          <input (focus)="form.get('month').markAsUntouched()"
                 [class.border-danger-500]="form.get('month').invalid && form.get('month').touched"
                 class="app-input block w-full" formControlName="month" id="month" type="number">

        </div>
        <div>
          <label class="font-bold text-sm text-neutral-800 block mb-2"
                 for="year">{{'AGE_VALIDATOR.YEAR' | translate }}</label>
          <input (focus)="form.get('year').markAsUntouched()"
                 [class.border-danger-500]="form.get('year').invalid && form.get('year').touched"
                 class="app-input block w-full" formControlName="year" id="year" type="number">
        </div>
      </div>

      <p *ngIf="form.get('day').hasError('required') && form.get('day').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.day.required | translate}}
      </p>

      <p *ngIf="form.get('day').hasError('pattern')  && form.get('day').touched"
         class="text-danger-500 pl-2">
        {{validationMessages.day.pattern | translate}}
      </p>
    </form>
  </div>
</div>
