@font-face {
  font-family: sentinel-book;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('sentinel-book.otf') format('opentype');
}

@font-face {
  font-family: sentinel-medium;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('sentinel-medium.otf') format('opentype');
}

@font-face {
  font-family: sentinel-bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('sentinel-bold.otf') format('opentype');
}

@font-face {
  font-family: gilroy-regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('gilroy-regular.otf') format('opentype');
}

@font-face {
  font-family: gilroy-bold;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('gilroy-bold.otf') format('opentype');
}

@font-face {
  font-family: gilroy-heavy;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('gilroy-heavy.otf') format('opentype');
}

.font-sentinel-book {
  font-family: sentinel-book, '-apple-system', '"Segoe UI"', '"Helvetica Neue"', 'Arial', 'sans-serif'  !important;
}

.font-sentinel-medium {
  font-family: sentinel-medium, '-apple-system', '"Segoe UI"', '"Helvetica Neue"', 'Arial', 'sans-serif' !important;
}

.font-sentinel-bold {
  font-family: sentinel-bold, '-apple-system', '"Segoe UI"', '"Helvetica Neue"', 'Arial', 'sans-serif' !important;
}

.font-gilroy-regular {
  font-family: gilroy-regular, '-apple-system', '"Segoe UI"', '"Helvetica Neue"', 'Arial', 'sans-serif' !important;
}

.font-gilroy-bold {
  font-family: gilroy-bold, '-apple-system', '"Segoe UI"', '"Helvetica Neue"', 'Arial', 'sans-serif' !important;
}

.font-gilroy-heavy {
  font-family: gilroy-heavy, '-apple-system', '"Segoe UI"', '"Helvetica Neue"', 'Arial', 'sans-serif' !important;
}
