<div class="tab-content p-5 bg-white">
  <div class="flex mt-5 md:mt-10 mb-2 md:pr-3 md:pl-3">
    <div class="md:w-1/5"></div>
    <div class="md:w-2/3">
      <p class="text-xl font-bold leading-none mb-2">Canjea en tu tienda más cercana, <span class="c-orange">muestra el código QR al tendero y disfruta tu pola.</span></p>
      <p class="text-xs text-neutral-700">Paga con puntos</p>
    </div>
  </div>
  <div class="flex">
    <div class="hidden md:block md:w-1/5 pr-6">
      <div class="mt-16">
        <p class="text-xs px-3 border-neutral-500 border-b-2 pb-1">FILTRAR POR:</p>
        <div class="border-neutral-500 border-b-2 p-3">
          <div class="flex justify-between">
            <span class="text-xs">MARCA</span>
            <div class="flex items-center px-2 text-neutral-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-4/5">
      <div class="flex md:justify-end justify-between mb-3 lg:mb-8">
        <div>
          <div class="flex items-center relative md:hidden">
            <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
              <option>FILTRAR</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 c-orange">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
          <div class="hidden md:flex">
            <div class="flex items-center border-neutral-500 border-b-2">
              <span class="text-xs pr-3 pl-4">ORDENAR POR</span>
              <div class="flex items-center relative">
                <select class="text-xs block appearance-none text-neutral-700 bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
                  <option>Mas vendido</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-neutral-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="flex md:hidden items-center relative">
            <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 leading-tight mt-1 focus:outline-none">
              <option>ORDENAR POR</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 c-orange">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="container list-product">
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:pr-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3 items-center">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-2.png" alt="">
              <span class="glop bg-black text-white text-xs font-bold rounded-full leading-none py-1 px-2">Descuento</span>
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Cerveza BBC Bacatá Blanca</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:px-5">
          <div class="bg-yellow-2 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-3.png" alt="">
              <span class="glop bg-white c-orange text-xs font-bold rounded-full leading-none py-1 border-primary-500 border-2 px-2">Promo</span>
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Cerveza Póker</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:px-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-4.png" alt="">
              <span class="glop bg-primary-500 text-white text-xs font-bold rounded-full leading-none py-1 px-2">Nueva</span>
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Stella Artois</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:pl-5">
          <div class="bg-red w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-5.png" alt="">
              <span class="glop bg-white c-orange text-xs font-bold rounded-full leading-none py-1 border-primary-500 border-2 px-2">Promo</span>
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4 text-white">Cerveza BBC Bacatá Blanca</p>
              <p class="text-xs text-white">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center c-orange font-bold my-2 px-5 bg-white rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:pr-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3 items-center">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-6.png" alt="">
              <span class="glop bg-primary-500 text-white text-xs font-bold rounded-full leading-none py-1 px-2">Nueva</span>
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Aguila</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:px-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-7.png" alt="">
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Aguila Doble Cero</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:px-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-8.png" alt="">
              <span class="glop bg-black text-white text-xs font-bold rounded-full leading-none py-1 px-2">Descuento</span>
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Club Colombia</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:pl-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-9.png" alt="">
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Cerveza BBC Lager</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:pr-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3 items-center">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-10.png" alt="">
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Club Colombia R.</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:px-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-11.png" alt="">
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Negra Club Colombia</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:px-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-12.png" alt="">
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Cerveza BBC Lager</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
        <div class="pt-1 pb-2 md:pb-5 flex list-product--item px-2 lg:pl-5">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm cursor-pointer text-center box-product mb-3">
            <div class="relative">
              <img class="box-product--img" src="../../assets/images/cerveza-item-13.png" alt="">
            </div>
            <div class="box-product--title">
              <p class="text-sm pt-4">Conseña Bacana</p>
              <p class="text-xs">1 Botella de 300 ml</p>
            </div>
            <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-5 bg-primary-500 rounded-full points">200 Pts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>