<div class="tab-content p-5 bg-white">
  <div class="flex mt-5 md:mt-10 mb-2 md:pr-3 md:pl-3">
    <!--<div class="md:w-1/5"></div>-->
    <div class="md:w-2/3">
      <p class="text-xl font-bold leading-8 mb-2">Canjea en tu tienda más cercana, <span class="text-primary-500">muestra el código QR al tendero y disfruta tu pola.</span></p>
      <p class="text-xs text-neutral-700">Paga con puntos</p>
    </div>
  </div>

  <div *ngIf="noProducts && onlineOffline" class="w-1/4 m-auto pt-16 pb-16 flex flex-col justify-center items-center text-center">
    <div class="bg-primary-100 p-6 inline-block border rounded-full">
      <img src="assets/images/no-product.svg" alt="cupon image">
    </div>
    <p class="text-neutral-700 bold pt-4">¡Ups! no tenemos producos disponibles por el momento</p>
    <p class="text-xs">Mantente atento, próximamente sumaremos más productos a nuestro catálogo. </p>
  </div>

  <div *ngIf="!onlineOffline" class="w-1/4 m-auto pt-16 pb-16 flex flex-col justify-center items-center text-center">
    <div class="bg-primary-100 p-6 inline-block border rounded-full">
      <img src="assets/images/no-connectivity.svg" alt="map image">
    </div>
    <p class="text-neutral-600 bold pt-4">¡Ups! no tienes conexión a internet</p>
    <p class="text-xs">Conéctate a una red para que puedas ver todas las promos que tenemos para ti. </p>
  </div>

  <div *ngIf="!noProducts" class="flex">
    <!--
    <div class="hidden md:block md:w-1/5 pr-6">
      <div class="mt-16">
        <p class="text-xs px-3 border-neutral-500 border-b-2 pb-1">FILTRAR POR:</p>
        <div class="border-neutral-500 border-b-2 p-3">
          <div class="flex justify-between">
            <span class="text-xs">MARCA</span>
            <div class="flex items-center px-2 text-neutral-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="w-full md:w-4/5">
      <!--
      <div class="flex md:justify-end justify-between mb-3 lg:mb-8">
        <div>
          <div class="flex items-center relative md:hidden">
            <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
              <option>FILTRAR</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-primary-500">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
          <div class="hidden md:flex">
            <div class="flex items-center border-neutral-500 border-b-2">
              <span class="text-xs pr-3 pl-4">ORDENAR POR</span>
              <div class="flex items-center relative">
                <select class="text-xs block appearance-none text-neutral-700 bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
                  <option>Mas vendido</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-neutral-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="flex md:hidden items-center relative">
            <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 leading-tight mt-1 focus:outline-none">
              <option>ORDENAR POR</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-primary-500">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
      -->
      <div class="container grid grid-cols-6 md:grid-cols-12 gap-5">
        <div *ngFor="let product of products; let i = index" class="pt-1 pb-2 md:pb-5 flex list-product--item col-span-3 md:col-span-3">
          <app-shop-card
            [title] = "product.title"
            [imgUrl] = "product.image"
            [promotion] = "product.promotion"
            [id]="product.promotion_id"
            [points]="product.points"
            [products]= "products"
            [color]= "product.brand.color"
            class="w-full"
            ></app-shop-card>
        </div>
      </div>
    </div>
  </div>
</div>