<div class="legacy-container" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="50px">
  <div class="legacy-title" fxLayout="row" fxLayoutAlign="center center">
    Iniciar sesión
  </div>
  <div class="content" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center"
       fxLayoutGap="30px">
    <div class="item">
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="login-form" fxLayout="column" fxLayoutGap="20px">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email" required type="text">
          <mat-error
            *ngIf="loginForm.get('email').hasError('required')">{{ validationMessages.email.required }}</mat-error>
          <mat-error
            *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">{{ validationMessages.email.email }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="password" matInput placeholder="Contraseña" required type="password">
          <mat-error
            *ngIf="loginForm.get('password').hasError('required')">{{ validationMessages.password.required }}</mat-error>
        </mat-form-field>
        <button [disabled]="loginForm.invalid" class="app-button bg-orange-500 rounded-xl" type="submit">
          INGRESAR
        </button>
        <div fxFlexAlign="center">¿No tienes una cuenta? <a routerLink="/auth/signup">Regístrate</a></div>
      </form>
    </div>
    <img class="item" src="../../../../assets/images/login.svg">
  </div>
</div>
