<div class="grid grid-cols-12 bg-white py-3 px-4 rounded-md shadow-md items-end mb-2">
    <div class="col-span-6">
        <p class="m-0 text-neutral-600 font-fs-book text-xs">
            {{item.date}}
        </p>
    </div>
    <div class="col-span-6 historial__icon">
        <img src="assets/images/historial/{{item.icon}}"/>
    </div>
    <div class="col-span-12 sm:col-span-12 lg:col-span-3 xl:col-span-2">
        <img src="assets/images/historial/{{item.typePoints ? 'earn-points-orange.svg' : 'earn-points-black.svg'}}" class="inline-block"/>
        <span 
            class="font-bold text-xl sm:text-lg" 
            [ngClass]="{ 'text-primary-500': item.typePoints, 'text-neutral-900': !item.typePoints}"
        > {{ item.typePoints ? '+' : '-'}} {{item.points | number : '1.0'}} pts</span>
    </div>
    <div class="col-span-6 sm:col-span-6 lg:col-span-5 xl:col-span-6 text-left">
        <p class="m-0 text-xs sm:text-base">
            {{item.text}}
        </p>
    </div>
    <div class="col-span-6 sm:col-span-6 lg:col-span-4 xl:col-span-4 text-right">
        <p class="m-0 text-neutral-600 font-fs-book text-2xs sm:text-xs">
            <b>No</b>.: {{item.number}}
        </p>
    </div>
</div>