@import "../../../assets/styles/variables";

.bg-image {
  background: url("/assets/images/points-background.png") no-repeat
    center/contain;
}

.active-link {
  border-color: #ff5005 !important;
}

i::before {
  color: #ff5005;
}

.nav {
  width: 100%;

  @media (min-width: $md) {
    width: 350px;
  }
}
