<div class="container mx-auto py-4">
  <h3 class="text-lg font-bold text-black mb-6 p-2 hidden md:block">Tu <span class="text-primary-500">Perfil</span></h3>

  <section class="grid" style="grid-template-columns: min-content auto">
    <aside #navbar class="col-span-2 md:col-span-1 flex flex-col p-2 nav transition-transform duration-700">
      <h3 class="text-lg font-bold text-black mb-6 md:hidden">Tu <span class="text-primary-500">Perfil</span>
      </h3>

      <img class="mx-auto mb-6" src="assets/images/profile-placeholder.png" style="max-width: 100px">

      <h3 class="text-center font-bold text-xl mb-6">{{user.firstName + ' ' + user.lastName}}</h3>

      <div class="mb-12 text-center">
        <h3 class="text-2xs tracking-widest text-neutral-800 font-bold">TUS PUNTOS</h3>
        <p class="text-xs inline-block text-md text-center text-white font-bold px-4 py-2 bg-image"
           style="min-width: 120px; min-height: 30px">{{user.points | number : '1.0'}}
          pts</p>
      </div>

      <a #rla="routerLinkActive"
        (click)="goTo('/user/profile/share')"
        class="font-bold cursor-pointer block p-3 border-b-2 border-neutral-500 flex flex-row justify-between items-center"
        routerLink="/user/profile/share"
        routerLinkActive="active-link">Invita amigos beerlovers<i *ngIf="rla.isActive" class="uil uil-arrow-right text-xl"></i>
      </a>
      <a (click)="logout()" class="text-primary-500 cursor-pointer p-3 pb-6 border-b-2 border-neutral-500 text-sm">Cerrar Sesión</a>
    </aside>

    <div class="col-span-2 md:col-span-1">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
