@import "../../assets/styles/variables";
@import "../../assets/styles/breakpoints";

%center-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dialog-container {
  margin: 0;
  max-height: 630px;
  overflow: visible;
  padding: 50px 10%;
  position: relative;
  @include media-breakpoint-down(md) {
    margin: 0;
    padding: 50px 24px;
    width: 100%;
  }

  div.icon {
    @extend %center-content;

    img {
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }

  p {
    margin-top: 50px;
  }

  h1 {
    font-family: 'gilroy', sans-serif;
    color: white;
    font-weight: $bold;
    text-align: center;
    font-size: 25px;
  }

  h2.subtitle {
    color: white;
    font-family: 'gilroy', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    max-width: 340px;
    @media screen and (max-width: 470px) {
      line-height: 20px;
    }

    .title-poker {
      font-size: 38px;
    }
  }

  div.content {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    max-width: 340px;
    max-height: none;
    overflow: visible;
    @media screen and (max-width: 470px) {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  div.qr {
    @extend %center-content;
    height: 320px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    min-height: 300px;
    position: relative;
    width: 320px;
    @media screen and (max-width: 470px) {
      margin-top: -20px;
      min-height: 245px;
      width: 260px;
    }

    img {
      width: 170px;
      @media screen and (max-width: 470px) {
        width: 140px;
      }
    }

    .icon {
      left: 0;
      position: absolute;
      width: auto;
    }
  }

  &__close {
    background-color: white;
    background-image: url('../../assets/images/close-mage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid rgb(111, 6, 25);
    border-radius: 30px;
    font-family: gilroy;
    height: 50px;
    min-width: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
  }
}

.btn-yellow-rounded-line.btn-share {
  padding-right: 12px;
  font-family: gilroy, Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
  padding-right: 20px;

  .ng-star-inserted {
    position: absolute;
    right: 8px;
    top: 6px;
  }
}

.btn-share__input-success {
  display: none;
  color: white;

  &--visible {
    display: block;
  }
}

.dialog-container.red-poker-dialog-share {
  @include media-breakpoint-down(md) {
    .icon img {
      max-width: 100%;
    }
  }

  .mat-dialog-actions {
    width: 100%;
  }

}
