@import "~src/styles";

.container {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.51) 27%, rgba(231, 231, 231, 0.67) 56%, #d8d8d8 100%);
    margin-bottom: 50px;

    .content {
        height: auto;
        width: auto;
        max-width: 650px;
        padding: 50px 25px;

        .title {
            font-family: 'Fugaz One', cursive;
            font-size: 40px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.96px;
            color: $dark-gray;
        }

        .description {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.56;
            letter-spacing: normal;
            color: $dark-gray;
        }

        button {
            color: white;
            width: auto;
        }

        .terms-and-conditions {
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $dark-gray;

            a:link {
                text-decoration: underline !important;
                color: $dark-gray !important;
            }
        
            a:visited {
                text-decoration: underline !important;
            }
        
            a:visited {
                text-decoration: underline !important;
                color: $dark-gray !important;
            }
        }
    }

    img {
        height: 400px;
        width: 370px;
        object-fit: cover;
    }
}
