<div class="modal--info" id="modal--info">
  <div class="modal--info__cont bg-white shadow-2xl md:shadow-sm">
    <div class="flex justify-end mb-2">
      <img class="cursor-pointer" src="../../assets/images/close.svg" (click)="closeModal()" alt="">
    </div>
    <div class="md:w-3/6 lg:w-10/12 m-0-auto">
      <h2 class="font-bold text-xl mb-1 leading-none lg:mb-6 lg:text-center">Confirma y canjea en tu tienda</h2>
      <div class="img-bg">
        <img class="m-0-auto" src="../../assets/images/product-modal.png" alt="">
      </div>
      <img class="m-0-auto py-3" src="../../assets/images/llamada.svg" alt="">
      <div class="detail">
        <div>
          <h3 class="text-xl font-bold leading-none">Poker</h3>
          <p class="text-sm mt-1">1 Botella de 330 ml</p>
          <p class="text-sm inline-block text-md text-center text-white font-bold my-2 px-4 bg-primary-500 rounded-full points">200 Pts</p>
        </div>
        <div class="text-rigth pt-1">
          <div class="mb-1 flex items-center justify-end mb-2">
            <a class="text-xs uppercase text-neutral-800 underline leading-none pr-2 mt-1" href="">Ver tiendas</a>
            <img src="../../assets/images/tienda.svg" alt="">
          </div>
          <p class="text-sm uppercase text-neutral-800">Vigencia 30/oct/21</p>
          <a class="text-xs text-neutral-600 underline" href="">Términos y Condiciones</a>
        </div>
      </div>
      <a class="text-sm inline-block text-md text-center text-white font-bold my-2 py-2 bg-primary-500 rounded-full w-full uppercase">confirma y paga con puntos</a>
      <a class="text-sm inline-block text-md text-center text-primary-500 font-bold py-2 rounded-full w-full uppercase underline">cerrar</a>
    </div>
  </div>
</div>
