<div class="bg-white ganapuntos relative">

    <div class="container mx-auto">
        <h2 class="w-full text-bg text-left pb-3 t-4 w-auto ganapuntos--title"> <span
                class="w-full text-bg text-left pb-3 t-4 w-auto c-orange"> ¡En Tap It </span>puntos que se canjean por
            pola: así de simple!</h2>
        <h2 class="w-full text-bg text-left pb-3 t-4 w-auto ganapuntos--subtitle c-gray">Así puedes sumar: </h2>

        <div class="container mx-auto flex flex-col">
            <!-- Card 1 -->
            <a href="/app/escanea-ya" class="cardClik" id="escaneaCardlink">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="leading-5 sm:leading-6 text-lg font-bold"> <span class="text-primary-500">Escaneando </span> <br class="block sm:hidden">códigos QR</h2>
                            <p class="parrCard c-gray">Tenemos códigos QR en las cervezas Aguila y Club Colombia Dorada
                                hasta 15 puntos por cada tapa. ¡Para que todas tus cervezas sumen!
                            </p>

                        </div>
                        <div class="cardLeft--buttons">
                            <a href="/app/escanea-ya" class="linkCard c-orange" id="escaneaCardlink">¡Conocer más!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)"
                                srcset="https://bavariaco.vteximg.com.br/arquivos/tapas-banner.png">
                            <img src="https://bavariaco.vteximg.com.br/arquivos/escanea-tapas-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 2 -->
            <a href="/app/promocodigos" class="cardClik" id="promoCodesCardlink">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="leading-5 sm:leading-6 text-lg font-bold"> <span class="text-primary-500">Ingresando </span> <br class="block sm:hidden">promo códigos</h2>
                            <p class="parrCard c-gray">Descubre los diferentes códigos que tenemos con nuestras iniciativas,
                                ingrésalos y gana puntos ¡No dejes de sumar! </p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="/app/promocodigos" class="linkCard c-orange" id="promoCodesCardlink">¡Conocer más!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)" srcset="assets/images/ganapuntos/promo-code.png">
                            <img src="assets/images/ganapuntos/promo-code-mob.png" alt="Promo códigos">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 3 -->
            <a href="/app/user/profile/share" class="cardClik" id="shareCardlink">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="leading-5 sm:leading-6 text-lg font-bold"> <span class="text-primary-500">Invitando </span> <br class="block sm:hidden">a tus amigos</h2>
                            <p class="parrCard c-gray">Envíales tu código de referido, pídeles que lo usen al momento de
                                registrarse y suma 120 puntos por cada uno ¡Que ninguno se quede por fuera!</p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="/app/user/profile/share" class="linkCard c-orange" id="shareCardlink">¡Invitar ya!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)"
                                srcset="https://bavariaco.vteximg.com.br/arquivos/referidos-banner.png">
                            <img src="https://bavariaco.vteximg.com.br/arquivos/invita-amigos-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 4 -->
            <a href="/app/actualizar-cedula" class="cardClik" id="cedulaCarlink">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft rescaleLeft ">
                        <div class="cardLeft--text">
                            <h2 class="leading-5 sm:leading-6 text-lg font-bold"> <span class="text-primary-500">En nuestros </span> <br class="block sm:hidden">comercios aliados</h2>
                            <p class="parrCard c-gray">Conoce aquí dónde puedes sumar puntos por comprar, o pasar un
                                rato
                                tomando una pola. ¡Para que sigas encontrando a Tap It a donde vayas!</p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="/app/actualizar-cedula" class="linkCard c-orange" id="cedulaCarlink">¡Conocer más!</a>
                        </div>
                    </div>
                    <div class="cardRight rescaleRight">
                        <picture>
                            <source media="(min-width: 768px)"
                                srcset="https://bavariaco.vteximg.com.br/arquivos/aliados-banner.png">
                            <img src="https://bavariaco.vteximg.com.br/arquivos/aliados-comercio-mob.png"
                                alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 5 -->
            <a href="http://onelink.to/yv6rmg" target="_blank" class="cardClik" id="triviasCardlink">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="leading-5 sm:leading-6 text-lg font-bold"> <span class="text-primary-500">Con nuestras </span> <br class="block sm:hidden">trivias cervezeras</h2>
                            <p class="parrCard c-gray">Participa en nuestras trivias, divertirte y suma puntos, ¿60
                                puntos quincenales? nada mal ¡A ver qué tan Beer Lover eres!
                            </p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="http://onelink.to/yv6rmg" target="_blank" class="linkCard c-orange"
                                id="triviasCardlink">¡Participar ya!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)"
                                srcset="https://bavariaco.vteximg.com.br/arquivos/trivias-banner.png">
                            <img src="https://bavariaco.vteximg.com.br/arquivos/resolver-trivias-mob.png"
                                alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 6 -->
            <a href="https://hayplan.tapit.com.co" target="_blank" class="cardClik" id="hayplanCardlink">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="leading-5 sm:leading-6 text-lg font-bold"> <span class="text-primary-500">Hay Plan </span> <br class="sm:hidden"><span class="sm:hidden">Conoce promos</span></h2>
                            <p class="parrCard c-gray">Ve a disfrutar de las mejores promociones en pola: descarga tu QR
                                y
                                vas a la tienda más cercana ¡Para que los beneficios no paren nunca!
                            </p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="https://hayplan.tapit.com.co" target="_blank" class="linkCard c-orange"
                                id="hayplanCardlink">¡Ir por mi promo!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)"
                                srcset="https://bavariaco.vteximg.com.br/arquivos/hayplan-banner.png">
                            <img src="https://bavariaco.vteximg.com.br/arquivos/hay-plan-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>