<div class="bg-white ganapuntos relative">

    <div class="container mx-auto">
        <h2 class="w-full text-bg text-left pb-3 t-4 w-auto ganapuntos--title"> <span
                class="w-full text-bg text-left pb-3 t-4 w-auto c-orange"> ¡En Tap It </span>puntos que se canjean por
            pola: así de simple!</h2>
        <h2 class="w-full text-bg text-left pb-3 t-4 w-auto ganapuntos--subtitle c-gray">Asi puedes sumar: </h2>

        <div class="container mx-auto cards">
            <!-- Card 1 -->
            <a href="/app/escanea-ya" class="cardClik">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="titleCard"> <span class="c-orange">Escaneando </span>tapas</h2>
                            <p class="parrCard c-gray">Tenemos códigos QR en las cervezas Aguila y Club Colombia y
                                también
                                en nuestros productos exclusivos en tiendas o supermercados.</p>
                                
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="/app/escanea-ya" class="linkCard c-orange">¡Conocer más!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://bavariaco.vteximg.com.br/arquivos/tapas-banner.png">
                            <img  src="https://bavariaco.vteximg.com.br/arquivos/escanea-tapas-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 2 -->
            <a href="/app/user/profile/share" class="cardClik">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="titleCard tDesk"> <span class="c-orange">Invitando </span>a tus amigos</h2>
                            <h2 class="titleCard tMob"> <span class="c-orange">Invitando </span> <br> A tus amigos</h2>

                            <p class="parrCard c-gray">Envíales tu código de referido, pídeles que lo usen al momento de
                                registrarse y suma 120 puntos por cada uno ¡Que ninguno se quede por fuera!</p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="/app/user/profile/share" class="linkCard c-orange">¡Invitar ya!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://bavariaco.vteximg.com.br/arquivos/referidos-banner.png">
                            <img  src="https://bavariaco.vteximg.com.br/arquivos/invita-amigos-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 3 -->
            <a href="/app/actualizar-cedula" class="cardClik">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft rescaleLeft ">
                        <div class="cardLeft--text">
                            <h2 class="titleCard tDesk"> <span class="c-orange">En nuestros </span>comercios
                                aliados
                            </h2>
                            <h2 class="titleCard tMob"> <span class="c-orange">Consumiendo </span> <br> En nuestros puntos</h2>
                            <p class="parrCard c-gray">Conoce aquí dónde puedes sumar puntos por comprar, o pasar un
                                rato
                                tomando una pola. ¡Para que sigas encontrando a Tap It a donde vayas!</p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="/como-redimir" class="linkCard c-orange">¡Conocer más!</a>
                        </div>
                    </div>
                    <div class="cardRight rescaleRight">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://bavariaco.vteximg.com.br/arquivos/aliados-banner.png">
                            <img  src="https://bavariaco.vteximg.com.br/arquivos/aliados-comercio-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 4 -->
            <a href="https://play.google.com/store/apps/details?id=com.abinbev.tapit" target="_blank" class="cardClik">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="titleCard tDesk"> <span class="c-orange">Resolviendo </span>nuestras trivias cervezeras
                            </h2>
                            <h2 class="titleCard tMob"> <span class="c-orange">Resolviendo </span> <br> nuestras trivias</h2>
                            <p class="parrCard c-gray">Semanalmente podras ingresar a resolver la trivia de los
                                beerlovers y
                                ganar puntos</p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="https://play.google.com/store/apps/details?id=com.abinbev.tapit" target="_blank" class="linkCard c-orange">Resolver trivias</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://bavariaco.vteximg.com.br/arquivos/trivias-banner.png">
                            <img  src="https://bavariaco.vteximg.com.br/arquivos/resolver-trivias-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>

            <!-- Card 5 -->
            <a href="https://hayplan.tapit.com.co" target="_blank" class="cardClik">
                <div class="card pb-3 t-4 w-full text-bg text-left pb-3 t-4 w-auto">
                    <div class="cardLeft ">
                        <div class="cardLeft--text">
                            <h2 class="titleCard tDesk"> <span class="c-orange">Hay Plan </span></h2>
                            <h2 class="titleCard tMob"> <span class="c-orange">Hay Plan </span> <br> Conoce promos</h2>

                            <p class="parrCard c-gray">Ve a disfrutar de las mejores promociones en pola: descarga tu QR
                                y
                                vas a la tienda más cercana ¡Para que los beneficios no paren nunca!
                            </p>
                        </div>
                        <div class="cardLeft--buttons">
                            <a href="#" class="linkCard c-orange">¡Ir a mi promo!</a>
                        </div>
                    </div>
                    <div class="cardRight">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://bavariaco.vteximg.com.br/arquivos/hayplan-banner.png">
                            <img  src="https://bavariaco.vteximg.com.br/arquivos/hay-plan-mob.png" alt="Image Here">
                        </picture>
                    </div>
                </div>
            </a>
        </div>
        <div class="w-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>