@import "../../../../assets/styles/colors.scss";

input,
button:focus,
select {
  outline: none;
}
input {
  color: #828282;
  position: relative;
}
input::placeholder,
select {
  color: #BDBDBD;
  font-family: "filson-soft-book";
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.select__box {
  position: relative;
}
.select__box:after {
  content: url("../../../../assets/images/profile/angle-down.svg");
  right: 12px;
  top: 65%;
  transform: translateY(-50%);
  position: absolute;
  pointer-events: none;
}
button:disabled {
  background-color: lighten($color: $darkGrayColor, $amount: 60);
  color: $darkGrayColor;
  cursor: not-allowed;
}
//IS INVALID/VALID INPUT
.is-invalid {
  border: 1px solid $dangerColor !important;
}
.is-valid {
  border: 1px solid black !important;
  color: #828282;
}
.is-valid-selected {
  color: #828282 !important;
}
.img_error {
  top: -34px;
  position: absolute;
  right: 12px;
  background-color: white;
}