.border-principal {
    border: 3px solid #FF8D5C;
}

.border-secondary {
    border: 1px solid #FF5005;
}

.image-limit {
    @media (max-width: 768px) {
        max-width: 90px;
    }

    img{
        max-height: 188px;
    }
}