<app-modal
  [visible]="myModal"
  (close)="closeModal($event)"
  [currentItem]="currentItem"
  (reloadItemsParent)="reloadItemsParent()"
  [cardType]="cardType">
</app-modal>
<div class="">
  <div class="bg-neutral-100 pr-5 rounded-md flex items-start">
    <img src="{{imgUrl}}" alt="" class="{{colorBg}}" style="max-height: 196px;">
    <div class="pl-4 pt-4 w-full">
      <p class="text-xl font-bold leading-8">{{title}}</p>
      <p class="text-xs leading-none">{{description}}</p>
      <p class="text-sm mt-2 leading-none text-neutral-800"><span>{{pointsText}} </span> <span class="font-bold bg-primary-500 text-white rounded-full py-1 px-2">{{points}} Pts.</span></p>
      <button class="uppercase mt-6 rounded-full bg-primary-500 text-neutral-100 w-full text-center p-3 text-xs font-bold tracking-wider border-2" (click)="openModal('couppon')">redimir codigo</button>
      <button class="uppercase mt-4 rounded-full w-full text-center text-xs tracking-wider underline" (click)="openModal('deactivate')">cancelar</button>
    </div>
  </div>
</div>