<div class="legacy-container" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="50px">

  <div class="text-6xl font-bold" fxLayout="row" fxLayoutAlign="center center">
    Registrarse
  </div>

  <div class="content" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center"
       fxLayoutGap="30px">
    <div class="item">
      <form (ngSubmit)="signUp()" [formGroup]="signUpForm" class="form" fxLayout="column" fxLayoutGap="20px">

        <!-- First name -->
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="Nombre" required type="text">
          <mat-error
            *ngIf="signUpForm.get('firstName').hasError('required')">{{ validationMessages.firstName.required }}</mat-error>
          <mat-error
            *ngIf="signUpForm.get('firstName').hasError('minlength')">{{ validationMessages.firstName.minlength }}</mat-error>
        </mat-form-field>

        <!-- Last name -->
        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Apellido" required type="text">
          <mat-error
            *ngIf="signUpForm.get('lastName').hasError('required')">{{ validationMessages.lastName.required }}</mat-error>
          <mat-error
            *ngIf="signUpForm.get('lastName').hasError('minlength')">{{ validationMessages.lastName.minlength }}</mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email" required type="text">
          <mat-error
            *ngIf="signUpForm.get('email').hasError('required')">{{ validationMessages.email.required }}</mat-error>
          <mat-error
            *ngIf="signUpForm.get('email').hasError('email') && !signUpForm.get('email').hasError('required')">{{ validationMessages.email.email }}</mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field>
          <input formControlName="password" matInput placeholder="Contraseña" required type="password">
          <mat-error
            *ngIf="signUpForm.get('password').hasError('required')">{{ validationMessages.password.required }}</mat-error>
          <mat-error
            *ngIf="signUpForm.get('password').hasError('minlength')">{{ validationMessages.password.minlength }}</mat-error>
        </mat-form-field>

        <!-- Phone -->
        <mat-form-field>
          <input formControlName="phone" matInput placeholder="Número de celular" required type="tel">
          <mat-error
            *ngIf="signUpForm.get('phone').hasError('required')">{{ validationMessages.phone.required }}</mat-error>
          <mat-error
            *ngIf="signUpForm.get('phone').hasError('minlength')">{{ validationMessages.phone.minlength }}</mat-error>
          <mat-error
            *ngIf="signUpForm.get('phone').hasError('pattern')">{{ validationMessages.phone.pattern }}</mat-error>
        </mat-form-field>

        <!-- Birthdate -->
        <mat-form-field>
          <input (click)="picker.open()" [matDatepicker]="picker" formControlName="birthDate" matInput
                 placeholder="Fecha de nacimiento"
                 readonly required>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="signUpForm.get('birthDate').hasError('required')">{{ validationMessages.birthDate.required }}</mat-error>
          <mat-error
            *ngIf="signUpForm.get('birthDate').hasError('underAge') && !signUpForm.get('birthDate').hasError('required')">{{ validationMessages.birthDate.underAge }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="referralCode" matInput placeholder="Código de referido" type="text">
        </mat-form-field>

        <div class="text-gray-800">
          Al crear una cuenta accedes a nuestros
          <a class="text-orange-500 font-bold" href="/terms.html" target="blank">términos</a>
        </div>

        <button [disabled]="signUpForm.invalid" class="app-button bg-orange-500 min-width-18" type="submit">
          CREAR CUENTA
        </button>

        <button (click)="loginWithFacebook()" class="app-button facebook-button min-width-18" type="button">
          INGRESAR CON FACEBOOK
        </button>

        <div class="text-gray-800" fxFlexAlign="center">
          ¿Ya tienes una cuenta?
          <a class="text-orange-500 font-bold" queryParamsHandling="merge" routerLink="/auth/login">INGRESA</a>
        </div>
      </form>
    </div>

    <img class="item" src="assets/images/signup.png">
  </div>
</div>
