<ng-template #verifyIdentity let-modal>
  <div class='flex justify-center items-center bg-black bg-opacity-60 fixed top-0 w-full h-full z-10 overflow-y-auto'>
    <div class='flex justify-center items-center bg-modal w-full sm:w-2/4 md:w-2/5 lg:w-2/5 xl:w-3/12 bg-white p-10 rounded-2xl text-center'>
      <section *ngIf="!isDocumentValid" class="px-0 md:px-0 lg:px-12 xl:px-8">
        <p class="text-lg xl:text-xl font-fs-bold inline-block title_text">
          ¡Hola Beer Lover! 👋
        </p>
        <p class="text-sm xl:text-base font-fs-regular text-neutral-800 mt-8 mb-0 title_p">
          Ahora puedes <span class="text-primary-500 font-fs-bold">sumar</span> y <span class="text-primary-500 font-fs-bold">redimir</span> puntos Tap It en nuestros comercios aliados.
        </p>
        <p class="text-sm xl:text-base font-fs-regular text-neutral-800 mb-8 title_p">
          Lo único que debes hacer es:
        </p>
        <div class="grid grid-cols-10 gap-4 my-4 text-white">
            <div class="col-span-2">
                <p class="font-fs-bold text-2xl text-primary-500">1.</p>
            </div> 
            <div class="col-span-8 text-left">
                <p class="mt-2 font-fs-regular text-neutral-800 title_p">
                  <span class="font-fs-bold text-black font-18px">Visita</span> alguno de los 
                  <a href="assets/files/Tap It - Comercios Aliados.pdf" download><span class="font-fs-regular text-primary-500 cursor-pointer"><u>puntos de venta aliados</u></span></a>
                </p>
            </div>
        </div>
        <div class="grid grid-cols-10 gap-4 my-4 text-white">
            <div class="col-span-2">
                <p class="font-fs-bold text-2xl text-primary-500">2.</p>
            </div>
            <div class="col-span-8 text-left">
                <p class="mt-2 font-fs-regular text-neutral-800 title_p">
                  <span class="font-fs-bold text-black font-18px">Suma</span> dando tu número de cédula al mesero
                </p>
            </div>
        </div>
        <div class="grid grid-cols-10 gap-4 mt-4 text-white mb-6">
            <div class="col-span-2">
                <p class="font-fs-bold text-2xl text-primary-500">3.</p>
            </div>
            <div class="col-span-8 text-left">
                <p class="mt-2 font-fs-regular text-neutral-800 title_p">
                  <span class="font-fs-bold text-black font-18px">Redime</span> mostrando tu cédula al mesero
                </p>
            </div>
        </div>
        <p class="text-base font-fs-regular text-primary-500 my-8 title_p">
          <a href="https://tapit.com.co/terms.html" target="_blank" class="text-primary-500 font-bold"><u>Aplican Términos y Condiciones.</u></a>
        </p>
        <button type="button" class="uppercase bg-primary-500 px-4 py-3 rounded-xl text-white w-full mt-4 font-fs-bold" (click)="isDocumentValid = true;">
            ¡Empezar ya!
        </button>
      </section>  
      <section *ngIf="isDocumentValid" class="px-0 md:px-0 lg:px-12 xl:px-8">
          <p class="text-base xl:text-xl font-fs-bold mt-8 mb-4 title_text">¡No pares de <span class="text-primary-500">ganar puntos!</span></p>
          <p class="text-sm xl:text-base font-fs-regular text-neutral-800 mb-8 title_p">
            Agrega tu número de identificación para que puedas <span class="text-primary-500 font-fs-bold">sumar y redimir tus puntos en bares o restaurantes.</span>
          </p>
          <form [formGroup]="formDataUser" (ngSubmit)="updateDataUser()" autocomplete="off" class="mx-4">
              <div class="flex flex-col my-4">
                  <label for="identityType" class="text-neutral-800 font-bold text-left text-sm title_p">Tipo de documento</label>
                  <label class="w-full select__box">
                      <select 
                          [ngClass]="{'is-invalid': (formDataUser.get('identityType').invalid && formDataUser.get('identityType').dirty) || (formDataUser.get('identityType').invalid && formDataUser.get('identityType').touched), 'is-valid': formDataUser.get('identityType').valid && formDataUser.get('identityType').dirty, 'is-valid-selected': formDataUser.get('identityType').touched}"
                          formControlName="identityType"
                          id="identityType" 
                          class="w-full text-neutral-700 mt-3 p-3 rounded-lg border border-black"
                      >
                        <option class="text-black" value="" disabled selected hidden>Selecciona una opción</option>
                        <option class="text-black" value="COL_CC">Cédula de ciudadanía</option>
                        <option class="text-black" value="COL_CE">Cédula de extranjería</option>
                      </select>
                  </label>
                  <div class="relative text-left" *ngFor="let validation of validation_messages.identityType">
                      <div *ngIf="formDataUser.get('identityType').hasError(validation.type) && (formDataUser.get('identityType').dirty || formDataUser.get('identityType').touched)">
                          <div class="img_error">
                            <img src="/assets/images/verify/alert-error.svg" width="18" height="18"/>
                          </div>  
                          <span class="text-danger-500 text-2xs font-fs-book">
                              {{ validation.message }}
                          </span>
                      </div>
                  </div>
              </div>
              <div class="flex flex-col my-4 relative">
                  <label for="identity" class="text-neutral-800 font-bold text-left text-sm title_p">Número de documento</label>
                  <input 
                    class="font-fs-book mt-3 py-3 px-4 rounded-lg border border-black relative text-black"
                    [ngClass]="{'is-invalid': (formDataUser.get('identity').dirty && textError?.length > 0) || (formDataUser.get('identity').invalid && formDataUser.get('identity').dirty) || (formDataUser.get('identity').invalid && formDataUser.get('identity').touched), 'is-valid': formDataUser.get('identity').valid && formDataUser.get('identity').dirty}"
                    formControlName="identity"
                    type="text" 
                    id="identity" 
                    name="identity" 
                    minlength="4"
                    maxlength="12"
                    pattern="[0-9]*"
                    placeholder="Ingrese solo números" 
                    autocomplete="off" 
                  />
                  <div class="text-left" *ngFor="let validation of validation_messages.identity">
                      <div *ngIf="formDataUser.get('identity').hasError(validation.type) && (formDataUser.get('identity').dirty || formDataUser.get('identity').touched)">
                          <div class="img_error_document">
                            <img src="/assets/images/verify/alert-error.svg" width="18" height="18"/>
                          </div>
                          <span class="text-danger-500 text-2xs font-fs-book">
                              {{ validation.message }}
                          </span>
                      </div>
                  </div>
                  <div class="text-left text-danger-500 text-2xs font-fs-book" *ngIf="textError">
                    <div class="img_error_document">
                        <img src="/assets/images/verify/alert-error.svg" width="18" height="18"/>
                    </div>
                    {{ textError }}
                  </div>
              </div>
              <div class="flex flex-col my-4">
                <label for="confirm_identity" class="text-neutral-800 font-bold text-left text-sm title_p">Confírmanos tu número de documento</label>
                <input 
                    [ngClass]="{'is-invalid': (formDataUser.get('confirm_identity').invalid && formDataUser.get('confirm_identity').dirty) || (formDataUser.get('confirm_identity').invalid && formDataUser.get('confirm_identity').touched) || (formDataUser.get('confirm_identity').valid && !formDataUser.pristine && formDataUser.errors?.verifyidentity), 'is-valid': formDataUser.get('confirm_identity').valid && formDataUser.get('confirm_identity').dirty && !formDataUser.errors?.verifyidentity}"
                    formControlName="confirm_identity"
                    type="text" 
                    id="confirm_identity" 
                    name="confirm_identity" 
                    minlength="4"
                    maxlength="12"
                    pattern="[0-9]*"
                    placeholder="Ingrese solo números" 
                    autocomplete="off"  
                    class="font-fs-book mt-3 py-3 px-4 rounded-lg border border-black text-black"
                />
                <div class="relative text-left" *ngFor="let validation of validation_messages.confirm_identity">
                    <div *ngIf="formDataUser.get('confirm_identity').hasError(validation.type) && (formDataUser.get('confirm_identity').dirty || formDataUser.get('confirm_identity').touched)">
                        <div class="img_error">
                          <img src="/assets/images/verify/alert-error.svg" width="18" height="18"/>
                        </div>  
                        <span class="text-danger-500 text-2xs font-fs-book">
                            {{ validation.message }}
                        </span>
                    </div>
                    <div *ngIf="formDataUser.errors?.verifyDocument && !formDataUser.pristine" class="text-danger-500 text-2xs font-fs-book">
                      <div class="img_error">
                        <img src="/assets/images/verify/alert-error.svg" width="18" height="18"/>
                      </div>  
                      El número de documento no coincide.
                  </div>
                </div> 
            </div>
              <button [disabled]="formDataUser.invalid" type="submit" class="uppercase bg-primary-500 px-4 py-3 rounded-xl text-white w-full mt-12 mb-6 font-fs-bold">
                  Descubre Tap It
              </button>
          </form>
        </section>
    </div>
  </div>
</ng-template>