<div class="container mx-auto mb-20 relative overflow-x-hidden">
  <div class="inline-block w-full sm:w-6/12 align-middle p-4">
    <div *ngIf="!stage">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Restablecer <span class="text-orange-500">contraseña</span></h1>

      <p class="text-gray-800 mb-8 text-lg">Ingresa tu correo electrónico, te enviaremos un link para que puedas
        restablecer tu contraseña.</p>

      <form (ngSubmit)="recoveryPassword()" [formGroup]="emailForm">
        <div class="text-left mb-8">
          <label class="font-bold text-gray-800 block mb-2" for="email">Email</label>
          <input [class.border-red-500]="emailForm.get('email').hasError('pattern')"
            class="app-input block w-full lg:w-8/12 sm:ml-0" formControlName="email" id="email" type="email">
          <p *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched"
            class="text-red-500 pl-2">
            Debes ingresar un email
          </p>
          <p *ngIf="emailForm.get('email').hasError('pattern')" class="text-red-500 pl-2">
            El formato de email no es correcto
          </p>
        </div>

        <button [disabled]="!emailForm.valid" class="app-button bg-orange-500 block mx-auto sm:ml-0">RECUPERAR
          CONTRASEÑA
        </button>
      </form>
    </div>

    <div *ngIf="stage==='sentEmail'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Restablecer <span class="text-orange-500">contraseña</span></h1>
      <p class="text-gray-800 mb-8 text-lg">Hemos enviado a tu correo un link para crear una nueva contraseña.</p>

      <button class="app-button bg-orange-500 block mx-auto sm:ml-0" routerLink="../login">ACEPTAR</button>
    </div>

    <div *ngIf="stage==='setNewPassword'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Nueva <span class="text-orange-500">contraseña</span></h1>

      <p class="text-gray-800 mb-8 text-lg">Ingresa una nueva contraseña para <span
          class="font-bold">{{resetEmail}}</span></p>

      <form (ngSubmit)="setNewPassword()" [formGroup]="passwordForm">
        <div class="text-left mb-8">
          <label class="font-bold text-gray-800 block mb-2" for="newPassword">Nueva contraseña</label>
          <input class="app-input block w-full lg:w-8/12 sm:ml-0" formControlName="password" id="newPassword"
            type="password">
          <p *ngIf="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched"
            class="text-red-500 pl-2">
            Debes ingresar una contraseña
          </p>
          <p *ngIf="passwordForm.get('password').hasError('minlength')" class="text-red-500 pl-2">
            La contraseña debe tener almenos 6 caracteres
          </p>
        </div>

        <button [disabled]="!passwordForm.valid" class="app-button bg-orange-500 block mx-auto sm:ml-0">GUARDAR
          CONTRASEÑA
        </button>
      </form>
    </div>

    <div *ngIf="stage==='linkLapsed'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Nueva <span class="text-orange-500">contraseña</span></h1>

      <div class="flex flex-row items-start  mb-8">
        <i class="uil uil-exclamation-circle bg-red-300 text-6xl icon mr-4"
          style="border-radius: 40%; background: #F85464;"></i>
        <p class="flex-1 text-gray-800 text-lg">Este link ha caducado o ya ha sido
          utilizado previamente. Si deseas puedes volver a restablecer tu contraseña</p>
      </div>
      <button (click)="stage=''" class="app-button bg-orange-500 block mx-auto sm:ml-0">RESTABLECER CONTRASEÑA</button>
    </div>

    <div *ngIf="stage==='passwordChanged'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Contraseña <span class="text-orange-500">restablecida</span></h1>
      <p class="text-gray-800 mb-8 text-lg">Ahora puedes acceder con tu nueva contraseña.</p>

      <button class="app-button bg-orange-500 block mx-auto sm:ml-0" routerLink="../login">INICIA SESIÓN</button>
    </div>
  </div>

  <div class="w-4/12 inline-block align-top sm:w-6/12 sm:align-middle">
    <img class="max-w-none relative people" src="assets/images/people.png">
  </div>
</div>