<div class="container mx-auto mb-20 relative overflow-x-hidden">
  <div class="inline-block w-full sm:w-6/12 align-middle p-4">
    <div *ngIf="!stage">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Restablecer <span class="text-orange-500">contraseña</span></h1>

      <p class="text-gray-800 mb-8 text-lg">Ingresa tu correo electónico, te enviaremos un link para que puedas
        restablecer tu conteseña.</p>

      <div class="text-left mb-8">
        <label class="font-bold text-gray-800 block mb-2" for="email">Email</label>
        <input [(ngModel)]="email" class="app-input block mx-0" id="email" type="email">
      </div>

      <button (click)="recoveryPassword()" class="app-button bg-orange-500">RECUPERAR CONTRASEÑA</button>
    </div>

    <div *ngIf="stage==='sentEmail'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Restablecer <span class="text-orange-500">contraseña</span></h1>
      <p class="text-gray-800 mb-8 text-lg">Hemos enviado a tu correo un link para crear una nueva contraseña.</p>

      <button class="app-button bg-orange-500" routerLink="../login">ACEPTAR</button>
    </div>

    <div *ngIf="stage==='setNewPassword'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Nueva <span class="text-orange-500">contraseña</span></h1>

      <p class="text-gray-800 mb-8 text-lg">Ingresa una nueva contraseña para <span
        class="font-bold">{{resetEmail}}</span></p>

      <div class="text-left mb-8">
        <label class="font-bold text-gray-800 block mb-2" for="newPassword">Nueva contraseña</label>
        <input [(ngModel)]="newPassword" class="app-input block mx-0" id="newPassword" type="password">
      </div>

      <button (click)="setNewPassword()" class="app-button bg-orange-500">GUARDAR CONTRASEÑA</button>
    </div>

    <div *ngIf="stage==='linkLapsed'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Nueva <span class="text-orange-500">contraseña</span></h1>

      <div class="flex flex-row items-start  mb-8">
        <i class="uil uil-exclamation-circle bg-red-300 text-6xl icon mr-4"
           style="border-radius: 40%; background: #F85464;"></i>
        <p class="flex-1 text-gray-800 text-lg">Este link ha caducado o ya ha sido
          utilizado previamente. Si deseas puedes volver a restablecer tu contraseña</p>
      </div>
      <button (click)="stage=''" class="app-button bg-orange-500">RESTABLECER CONTRASEÑA</button>
    </div>

    <div *ngIf="stage==='passwordChanged'">
      <h1 class="title text-4xl my-10 sm:mt-0 sm:mb-8">Contraseña <span class="text-orange-500">restablecida</span></h1>
      <p class="text-gray-800 mb-8 text-lg">Ahora puedes acceder con tu nueva contraseña.</p>

      <button class="app-button bg-orange-500" routerLink="../login">INICIA SESIÓN</button>
    </div>
  </div>

  <div class="w-4/12 inline-block align-top sm:w-6/12 sm:align-middle">
    <img class="max-w-none relative people" src="assets/images/people.png">
  </div>
</div>
