<div class="bg-white wallet relative">
  <div class="wallet--tab">
    <div class="container mx-auto bg-gray-100 pr-3 pl-3 flex items-center">
      <span data-destiny="" class="w-full text-xs text-center pb-3 pt-4 cursor-pointer md:px-3 md:w-auto" routerLinkActive="active"><a [routerLink]="'/wallet/promos'">Promos del día</a></span>
      <span data-destiny="" class="w-full text-xs text-center pb-3 pt-4 cursor-pointer md:px-3 md:w-auto" routerLinkActive="active"><a [routerLink]="'/wallet/shop'">Canjea en tiendas</a></span>
      <span data-destiny="" class="w-full text-xs text-center pb-3 pt-4 cursor-pointer md:px-3 md:w-auto" routerLinkActive="active"><a [routerLink]="'/wallet/coupons'">Mis cupones</a></span>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="w-full">      
      <router-outlet></router-outlet>

      <!-- modal window -->
      <app-modal-window #modal></app-modal-window>
    </div>
  </div>
</div>
