.wallet {
  &--tab {
    background: #FAFAFA;
    border-top: 1px solid #D9D8D7;
    border-bottom: 1px solid #D9D8D7;

    .active {
      border-bottom: 2px solid #FF5005;
      color: #FF5005;
    }

    :hover {
      color: #FF5005;
    }
  }
}

.c-orange {
  color: #FF5005;
}

.bg-yellow {
  background-color: #F7CD5D;
}