<div class="container mx-auto mt-4 bg-white wallet">
  <div class="bg-gray-100 pr-3 pl-3 flex items-center wallet--tab mb-3">
    <span data-destiny="" class="tab-triggers w-full text-xs text-center pb-3 pt-4 cursor-pointer active">Puntos en tiendas</span>
    <span data-destiny="" class="tab-triggers w-full text-xs text-center pb-3 pt-4 cursor-pointer ">Promos del día</span>
    <span data-destiny="" class="tab-triggers w-full text-xs text-center pb-3 pt-4 cursor-pointer ">Mis cupones</span>
  </div>
  <div class="w-full">
    <!-- puntos en tienda -->
    <div class="tab-content p-4 bg-white">
      <div class="flex justify-between mb-3">
        <div>
          <div class="flex items-center relative">
            <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
              <option>FILTRAR</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 c-orange">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
        <div>
          <div class="flex items-center relative">
            <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 leading-tight mt-1 focus:outline-none">
              <option>ORDENAR POR</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 c-orange">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="w-6/12 inline-block pr-2">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm text-center box-product mb-3">
            <img class="box-product--img" src="../../assets/images/cerveza.png" alt="">
            <p class="text-sm pt-4">BBC Rubia</p>
            <p class="text-xs">300 ml</p>
            <p class="text-sm text-primary-500">200 puntos</p>
          </div>
        </div>
        <div class="w-6/12 inline-block pl-2">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm text-center box-product mb-3">
            <img class="box-product--img" src="../../assets/images/cerveza.png" alt="">
            <p class="text-sm pt-4">BBC Rubia</p>
            <p class="text-xs">300 ml</p>
            <p class="text-sm text-primary-500">200 puntos</p>
          </div>
        </div>
        <div class="w-6/12 inline-block pr-2">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm text-center box-product mb-3">
            <img class="box-product--img" src="../../assets/images/cerveza.png" alt="">
            <p class="text-sm pt-4">BBC Rubia</p>
            <p class="text-xs">300 ml</p>
            <p class="text-sm text-primary-500">200 puntos</p>
          </div>
        </div>
        <div class="w-6/12 inline-block pl-2">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm text-center box-product mb-3">
            <img class="box-product--img" src="../../assets/images/cerveza.png" alt="">
            <p class="text-sm pt-4">BBC Rubia</p>
            <p class="text-xs">300 ml</p>
            <p class="text-sm text-primary-500">200 puntos</p>
          </div>
        </div>
      </div>
    </div>

    <!-- promos del dia -->
    <div class="tab-content hidden bg-white">
      <div class="bg-yellow p-4">
        <div class="flex items-start">
          <img src="../../assets/images/cerveza-2.png" alt="">
          <div class="pl-4 w-full">
            <p class="text-xs font-bold">Cupón activo</p>
            <p class="text-xl font-bold leading-none">Poker</p>
            <p class="text-xs text-neutral-700">330ml Retornable</p>
            <p class="mt-2 text-primary-500">200 puntos</p>
            <button class="uppercase mt-4 rounded-full bg-white text-primary-500 w-full text-center p-3 text-sm">mostrar código QR</button>
            <button class="uppercase mt-1 rounded-full text-white w-full text-center p-3 text-sm">devolver cupón</button>
          </div>
        </div>
      </div>
      <div class="p-4">
        <div class="flex items-start border-b-2 border-neutral-500 pt-3 pb-3">
          <img src="../../assets/images/cerveza-3.png" alt="">
          <div class="pl-4 w-full">
            <p class="text-xs text-neutral-500 font-bold uppercase">redimido el 12/12/2021</p>
            <p class="text-xl font-bold leading-none">BBC Negra</p>
            <p class="text-xs text-neutral-700">330ml Retornable</p>
            <p class="text-primary-500">200 puntos</p>
          </div>
        </div>
        <div class="flex items-start border-b-2 border-neutral-500 pt-3 pb-3">
          <img src="../../assets/images/cerveza-3.png" alt="">
          <div class="pl-4 w-full">
            <p class="text-xs text-neutral-500 font-bold uppercase">redimido el 12/12/2021</p>
            <p class="text-xl font-bold leading-none">Corona</p>
            <p class="text-xs text-neutral-700">330ml Retornable</p>
            <p class="text-primary-500">200 puntos</p>
          </div>
        </div>
        <div class="flex items-start border-b-2 border-neutral-500 pt-3 pb-3">
          <img src="../../assets/images/cerveza-3.png" alt="">
          <div class="pl-4 w-full">
            <p class="text-xs text-neutral-500 font-bold uppercase">redimido el 12/12/2021</p>
            <p class="text-xl font-bold leading-none">Stella Artois</p>
            <p class="text-xs text-neutral-700">330ml Retornable</p>
            <p class="text-primary-500">200 puntos</p>
          </div>
        </div>
      </div>
    </div>

    <!-- mis cupones -->
    <div class="tab-content hidden bg-white">
      <div class="p-4">
        <div class="flex justify-between mb-3">
          <div>
            <div class="flex items-center relative">
              <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
                <option>FILTRAR</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 c-orange">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center relative">
              <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 leading-tight mt-1 focus:outline-none">
                <option>ORDENAR POR</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 c-orange">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="w-12/12">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm box-product mb-3 flex p-4 justify-between">
            <div class="flex flex-col justify-between items-start">
              <div>
                <p class="text-xs font-bold">Poker</p>
                <p class="text-xl font-bold leading-none">2 x 1</p>
              </div>
              <button class="text-xs text-primary-500 uppercase">Activar cupón</button>
            </div>
            <img src="../../assets/images/cervezas.png" alt="">
          </div>
        </div>
        <div class="w-12/12">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm box-product mb-3 flex p-4 justify-between">
            <div class="flex flex-col justify-between items-start">
              <div>
                <p class="text-xs font-bold">Club Colombia</p>
                <p class="text-xl font-bold leading-none">Gratis nuevo sabor</p>
              </div>
              <button class="text-xs text-primary-500 uppercase">Activar cupón</button>
            </div>
            <img src="../../assets/images/cerveza-4.png" alt="">
          </div>
        </div>
        <div class="w-12/12">
          <div class="bg-neutral-100 w-full py-2 border-4 border-white shadow-sm box-product mb-3 flex p-4 justify-between">
            <div class="flex flex-col justify-between items-start">
              <div>
                <p class="text-xs font-bold">Poker</p>
                <p class="text-xl font-bold leading-none">2 x 1</p>
              </div>
              <button class="text-xs text-primary-500 uppercase">Activar cupón</button>
            </div>
            <img src="../../assets/images/cervezas.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
