.wallet {
  &--tab {
    background: #FAFAFA;
    border-top: 1px solid #D9D8D7;
    border-bottom: 1px solid #D9D8D7;

    @media (min-width: 992px) {
      border-top: 0;
      border-bottom: 0;
    }

    .active {
      border-bottom: 2px solid #FF5005;
      color: #FF5005;
    }

    a:hover {
      color: #FF5005;
    }
  }
}

.c-orange {
  color: #FF5005;
}

.bg-yellow {
  background-color: #F7CD5D;
}

.bg-yellow-2 {
  background-color: #F0DC32;
}

.bg-red {
  background-color: #D20F28;
}

.bg-green {
  background-color: #7BCA68;
}


.modal--info {
  position: fixed;
  top: 66px;
  left: 0;
  right: 0px;
  bottom: 0;
  background: rgba(25, 20, 25, 0.8);
  display: none;
  align-items: flex-end;
  z-index: 999999;

  @media (min-width: 992px) {
    top: 0;
    align-items: flex-start;
    padding-top: 80px;
  }

  @media (max-width: 768px) {
    background: rgba(25, 20, 25, 0.3);
  }
  

  &.active {
    display: flex;
  }

  &__cont {
    border-radius: 20px 20px 0px 0px;
    height: 90vh;
    padding: 16px;
    width: 100%;

    @media (min-width: 992px) {
      height: initial;
      width: 540px;
      margin: 0 auto;
      border-radius: 20px;
    }

    .img-bg {
      @media (min-width: 992px) {
        content: "";
        background: url("../../assets/images/product-bg.svg");
      } 
    }

    .detail {
      border-bottom: 1px solid #D9D8D7;
      border-top: 1px solid #D9D8D7;
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      padding-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.m-0-auto {
  margin: 0 auto;
}