<div class="bg-white wallet relative">
  <div class="wallet--tab">
    <div class="container mx-auto bg-gray-100 pr-3 pl-3 flex items-center">
      <span data-destiny="" class="tab-triggers w-full text-xs text-center pb-3 pt-4 cursor-pointer md:px-3 active md:w-auto">Promos del día</span>
      <span data-destiny="" class="tab-triggers w-full text-xs text-center pb-3 pt-4 cursor-pointer md:px-3 md:w-auto">Canjea en tiendas</span>
      <span data-destiny="" class="tab-triggers w-full text-xs text-center pb-3 pt-4 cursor-pointer md:px-3 md:w-auto">Mis cupones</span>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="w-full">      
      <!-- promos del dia -->
      <app-promos></app-promos>

      <!-- puntos en tienda -->
      <app-shop-points (modalOpener)="modal.openModal()"></app-shop-points>
  
      <!-- mis cupones -->
      <app-cupons></app-cupons>

      <!-- modal window -->
      <app-modal-window #modal></app-modal-window>
    </div>
  </div>
</div>
