<div class="tab-content bg-white">
  <div class="flex mt-5 md:mt-10 mb-2 pr-5 pl-5 md:pr-3 md:pl-3">
    <div class="md:w-1/5"></div>
    <div class="md:w-2/3">
      <p class="text-xl font-bold leading-none mb-2">
        Selecciona tu promo, canjea en un tu tienda mas cercana <span class="text-primary-500">y disfruta de tu pola.</span>
      </p>
    </div>
  </div>

  <div class="flex">

      <div class="hidden md:block md:w-1/5 pr-6">
        <div class="mt-16">
          <p class="text-xs px-3 border-neutral-500 border-b-2 pb-1">FILTRAR POR:</p>
          <div class="border-neutral-500 border-b-2 p-3">
            <div class="flex justify-between">
              <span class="text-xs">MARCA</span>
              <div class="flex items-center px-2 text-neutral-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-4/5">

        <div class="flex md:justify-end justify-between mb-3 lg:mb-8">
          <div>
            <div class="flex items-center relative md:hidden">
              <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
                <option>FILTRAR</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-primary-500">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
            <div class="hidden md:flex">
              <div class="flex items-center border-neutral-500 border-b-2">
                <span class="text-xs pr-3 pl-4">ORDENAR POR</span>
                <div class="flex items-center relative">
                  <select class="text-xs block appearance-none text-neutral-700 bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
                    <option>Mas vendido</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-neutral-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="flex md:hidden items-center relative">
              <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 leading-tight mt-1 focus:outline-none">
                <option>ORDENAR POR</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-primary-500">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>

        <div class="md:inline-block md:pr-12 md:w-6/12 mb-4">
          <div class="bg-neutral-100 pr-5 rounded-md flex items-start">
            <img src="../../assets/images/cerveza-2.png" alt="" class="bg-complementary-1-500 pb-5 pl-2 pr-2 pt-5 rounded-md">
            <div class="pl-4 pt-4 w-full">
              <p class="text-xl font-bold leading-8">Poker</p>
              <p class="text-xs leading-none">1 botella de 330ml</p>
              <p class="text-sm font-bold mt-2 leading-none">200 Pts.</p>
              <button class="uppercase mt-6 rounded-full bg-primary-500 text-neutral-100 w-full text-center p-3 text-xs font-bold tracking-wider border-2">mostrar código al tendero</button>
              <button class="uppercase mt-4 rounded-full w-full text-center text-xs tracking-wider underline">desactiva cupón</button>
            </div>
          </div>
        </div>
        <div class="md:inline-block md:pr-12 md:w-6/12 mb-4">
          <div class="bg-neutral-100 pr-5 rounded-md flex items-start">
            <img src="../../assets/images/cerveza-2.png" alt="" class="bg-complementary-3-500 pb-5 pl-2 pr-2 pt-5 rounded-md">
            <div class="pl-4 pt-4 w-full">
              <p class="text-xl font-bold leading-8">Poker</p>
              <p class="text-xs leading-none">1 botella de 330ml</p>
              <p class="text-sm font-bold mt-2 leading-none">200 Pts.</p>
              <button class="uppercase mt-6 rounded-full bg-primary-500 text-neutral-100 w-full text-center p-3 text-xs font-bold tracking-wider border-2">mostrar código al tendero</button>
              <button class="uppercase mt-4 rounded-full w-full text-center text-xs tracking-wider underline">desactiva cupón</button>
            </div>
          </div>
        </div>
        <div class="md:inline-block md:pr-12 md:w-6/12">
          <div class="flex items-start border-b-2 border-neutral-500 p-5">
            <img src="../../assets/images/cerveza-3.png" alt="botellita">
            <div class="pl-4 w-full">
              <p class="text-xs text-neutral-500 font-bold uppercase leading-none">canjeado el 12/12/2021</p>
              <p class="text-xl font-bold leading-8">BBC Negra</p>
              <p class="text-xs text-neutral-700 leading-none">330ml Retornable</p>
              <p class="text-sm p-1 mt-2 leading-none rounded-full text-center bg-secondary-500 text-neutral-100 w-1/3">200 pts.</p>
            </div>
          </div>
        </div>
        <div class="md:inline-block md:pr-12 md:w-6/12">
          <div class="flex items-start border-b-2 border-neutral-500 p-5">
            <img src="../../assets/images/cerveza-3.png" alt="botellita">
            <div class="pl-4 w-full">
              <p class="text-xs text-neutral-500 font-bold uppercase leading-none">canjeado el 12/12/2021</p>
              <p class="text-xl font-bold leading-8">Corona</p>
              <p class="text-xs text-neutral-700 leading-none">330ml Retornable</p>
              <p class="text-sm p-1 mt-2 leading-none rounded-full text-center bg-secondary-500 text-neutral-100 w-1/3">200 pts.</p>
            </div>
          </div>
        </div>
        <div class="md:inline-block md:pr-12 md:w-6/12">
          <div class="flex items-start border-b-2 border-neutral-500 p-5">
            <img src="../../assets/images/cerveza-3.png" alt="botellita">
            <div class="pl-4 w-full">
              <p class="text-xs text-neutral-500 font-bold uppercase leading-none">canjeado el 12/12/2021</p>
              <p class="text-xl font-bold leading-8">Stella Artois</p>
              <p class="text-xs text-neutral-700 leading-none">330ml Retornable</p>
              <p class="text-sm p-1 mt-2 leading-none rounded-full text-center bg-secondary-500 text-neutral-100 w-1/3">200 pts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>