<div class="tab-content bg-white">
  <div class="flex mt-5 md:mt-12 mb-2 pr-5 pl-5 md:pr-3 md:pl-3">
    <div class="hidden md:block md:w-1/5 pr-6"></div>
    <div class="w-full md:w-4/5">
      <p class="text-xl font-bold leading-8 mb-2">
        Abre ésta sección desde tu app para canjear tu Cupón en tu tienda más cercana, muestra el código QR al tendero <span class="text-primary-500">y disfruta tu pola.</span>
      </p>
      <p class="text-base text-neutral-700">¡Paga con tus puntos!</p>
    </div>
  </div>

  <div *ngIf="noCoupons" class="w-1/4 m-auto pt-16 pb-16 flex flex-col justify-center items-center text-center">
    <div class="bg-primary-100 p-6 inline-block border rounded-full">
      <img src="assets/images/no-coupon.svg" alt="cupon image">
    </div>
    <p class="text-neutral-600 bold pt-4">¡Ups! no tenemos cupones para redimir en este momento.</p>
  </div>

  <div *ngIf="!noCoupons" class="flex pr-5 pl-5 md:pr-3 md:pl-3">

      <div class="hidden md:block md:w-1/5 pr-6">
        <div class="mt-16">
          <p class="text-xs px-3 border-neutral-500 border-b-2 pb-1">FILTRAR POR:</p>
          <div class="border-neutral-500 border-b-2 p-3">
            <div class="flex justify-between">
              <span class="text-xs">MARCA</span>
              <div class="flex items-center px-2 text-neutral-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full md:w-4/5">

        <div class="flex md:justify-end justify-between mb-3 lg:mb-8">
          <div>
            <div class="flex items-center relative md:hidden">
              <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
                <option>FILTRAR</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-primary-500">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
            <div class="hidden md:flex">
              <div class="flex items-center border-neutral-500 border-b-2">
                <span class="text-xs pr-3 pl-4">ORDENAR POR</span>
                <div class="flex items-center relative">
                  <select class="text-xs block appearance-none text-neutral-700 bg-white pr-4 py-2 pr-8 mt-1 leading-tight focus:outline-none">
                    <option>Mas vendido</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-neutral-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="flex md:hidden items-center relative">
              <select class="text-xs block appearance-none bg-white pr-4 py-2 pr-8 leading-tight mt-1 focus:outline-none">
                <option>ORDENAR POR</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-primary-500">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
        </div>

        <!-- <app-coupon-card-promoted></app-coupon-card-promoted> -->
          <div
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">
            <div class="grid md:grid-cols-2 gap-12">
              <div *ngFor="let promoted of promoteds; let i = index" class="md:inline-block md:pr-0 md:w-full mb-4">
                <app-coupon-card-promoted 
                  [brandData]="promoted.brand"
                  [qr]="promoted.qr"
                  [id]="promoted.id"
                  [qrcode]="promoted.qrcode"
                  [date]="promoted.date"
                  (reloadItems)="reloadItems()"
                ></app-coupon-card-promoted>
              </div>
              <div *ngFor="let consumed of consumeds; let i = index" class="md:inline-block md:pr-0 md:w-full">
                <app-coupon-card 
                  [title]="consumed.brand.name"
                  [imgUrl]="consumed.brand.image"
                  [date]="consumed.date"
                  [description]="consumed.brand.title"
                  [points]="consumed.brand.points"
                  [status]="consumed.status"
                ></app-coupon-card>
              </div>
            </div>
          </div>
      </div>
    </div>


  </div>