<footer
  class="bg-neutral-100 w-full sm:mt-10 bg-right-bottom sm:bg-right bg-no-repeat bg-contain sm:bg-auto bg-footer border-t-2 border-primary-500">
  <div class="container pt-8 px-4 md:px-0 mx-auto">
    <div class="w-full sm:w-9/12 xl:w-9/12 px-2 inline-block">
      <div class="inline-block align-top">
        <p class="text-primary-500 uppercase mb-6 font-bold text-xs tracking-widest">Acerca de Tapit</p>
        <div class="w-1/2 inline-block align-top">
          <ul class="text-secondary-500">
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5">
              <a href="mailto:info@tapit.com.co" target="_blank">E-Mail: info@tapit.com.co</a>
            </li>
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5"><a href="/cookies.html"
                                                                           target="_blank">Política de Cookies</a>
            </li>
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5"><a href="/terms.html"
                                                                           target="_blank">Términos y Condiciones</a>
            </li>
          </ul>
        </div>
        <div class="w-1/2 inline-block align-top">
          <ul class="text-secondary-500">
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5"><a href="/privacy.html"
                                                                           target="_blank">Aviso de privacidad</a>
            </li>
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5"><a href="/data-proteccion.html"
                                                                           target="_blank">Políticas de
              protección de datos personales</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-3/12 xl:w-3/12 inline-block align-top px-2">
      <p class="text-primary-500 uppercase mb-6 font-bold text-xs tracking-widest">Siguenos en</p>
      <ul class="text-secondary-500">
        <li class="mb-5 w-1/2 sm:w-full inline-block"><a href="https://www.facebook.com/gettap.it/"
                                                         target="_blank"><img
          class="inline-block align-middle"
          src="../assets/images/footer/facebook-logo.svg"><span class="align-middle ml-3">Facebook</span></a></li>
        <li class="mb-5 w-1/2 sm:w-full inline-block"><a href="https://www.instagram.com/tapit_beer/"
                                                         target="_blank"><img
          class="inline-block align-middle"
          src="../assets/images/footer/instagram-logo.svg"><span class="align-middle ml-3">Instagram</span></a></li>
      </ul>
    </div>
    <div class="w-full sm:w-9/12 xl:w-9/12 px-2 inline-block pt-4">
      <div class="inline-block align-top w-full">
        <p class="text-primary-500 uppercase mb-6 font-bold text-xs tracking-widest">Soporte</p>
        <div class="w-1/2 inline-block align-top">
          <ul class="text-secondary-500">
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5">Teléfono: <br class="sm:hidden block visible"/>3158220232
            </li>
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5"><a target="_blank" href="/help.html">Recomendaciones Covid-19</a></li>
          </ul>
        </div>
        <div class="w-1/2 inline-block align-top">
          <ul class="text-secondary-500">
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5 hidden"><a href="https://draftline.typeform.com/to/mr1ZYDog"
                                                                           target="_blank">Contáctanos</a>
            </li>
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5">
              <a target="_blank" href="/cancellation-policies.html">Políticas de cancelación</a>
            </li>
            <li class="w-full inline-block align-top sm:pb-0 pb-3 mb-5">
              <a target="_blank" href="https://www.sic.gov.co/por-un-clic-confiable">Superintendencia de Industria y Comercio</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <section class="container px-2 transform mx-auto mt-2">
      <div class="bg-neutral-100 w-full md:w-11/12 lg:w-8/12 xl:w-6/12 py-8 border-4 border-white shadow-sm">
        <div class="w-11/12 mx-auto">
          <div class="w-full sm:w-7/12 inline-block align-top">
            <p class="text-primary-500 font-bold ">Descarga la app</p>
            <p class="mb-3 text-sm">Para verdaderos amantes de la cerveza</p>
            <div class="hidden sm:block">
              <div class="">
                <div class="inline-block"><a href="https://apps.apple.com/us/app/tapit/id1481852424?ls=1"
                                             target="_blank"><img
                  src="../assets/images/download/appStore.svg"></a></div>
                <div class="inline-block ml-3"><a href="https://play.google.com/store/apps/details?id=com.abinbev.tapit"
                                                  target="_blank"><img
                  src="../assets/images/download/googlePlay.svg"></a></div>
              </div>
              <p class="inline-block text-neutral-700 align-middle text-xs">* Disponible únicamente para
                dispositivos móviles</p>
            </div>
            <div *ngIf="isIOs" class="mt-4 block sm:hidden">
              <div class="">
                <div class="inline-block">
                  <a class="app-button border-2 border-primary-500 bg-primary-500 text-white px-2 py-2 uppercase text-xs" href="https://apps.apple.com/us/app/tapit/id1481852424?ls=1"
                     target="_blank">
                    <img class="inline-block align-middle mr-2"
                         src="../assets/images/download/spotlight-icon.png">
                    <p class="inline-block align-middle">Descargar app</p>
                  </a>
                </div>
              </div>
            </div>
            <div *ngIf="isAndroid" class="mt-4 block sm:hidden">
              <div class="">
                <div class="inline-block">
                  <a class="app-button border-2 border-primary-500 bg-primary-500 text-white px-2 py-2 uppercase text-xs" href="https://play.google.com/store/apps/details?id=com.abinbev.tapit"
                     target="_blank">
                    <img class="inline-block align-middle mr-2"
                         src="../assets/images/download/spotlight-icon.png">
                    <p class="inline-block align-middle">Descargar app</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full sm:w-5/12 sm:inline-block align-top hidden">
            <div class="w-1/2 inline-block align-top text-xs text-neutral-700">
              <p>O escanea este código QR con tu teléfono móvil para descargar la app.</p>
            </div>
            <div class="w-1/2 inline-block align-top pl-4"><img class="max-w-none" src="../assets/images/download/onlink_to_9mttry.svg"
                                                                width="120">
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="border-t-2 border-neutral-500 py-5 mt-12 ">
      <img class="inline-block align-middle" src="../assets/images/footer/tap-it_black-orange.svg">
      <p class="inline-block text-neutral-700 ml-1 pl-2 border-l border-neutral-600 align-middle text-xs"><span>Todos los
               derechos reservados © 2020</span></p>
    </div>
  </div>
</footer>
