@import "../../assets/styles/variables";
@import "../../assets/styles/colors";

.footer {
  // flex: 1 0 auto !important;
  // .disclaimer {
  //   background-color: #eeeeee;
  //   font-size: 18px;
  //   font-weight: $semi-bold;
  //   padding: 20px 5%;
  //   margin-bottom: 10px;
  // }

  // .contact-info {
  //   background-color: black;
  //   color: white;
  //   padding: 20px 5%;

  //   img {
  //     width: 150px;
  //   }

  //   a:link, a:visited {
  //     color: white;
  //   }
  // }
  // .links {
  //   a {
  //     color: white;
  //     text-decoration:none
  //   }
  // }
  // &-logged {
  //   background-color: #262424;
  //   color: white;
  //   font-size: 14px;
  //   .links {
  //     margin-bottom: 25px;
  //     &-redes {
  //       a {
  //         margin: 0 15px;
  //         img {
  //           width: 43px;
  //         }
  //       }
  //     }
  //     a {
  //       margin-right: 5px;
  //       @media screen and (max-width: $maxWidthTablet) {
  //         margin: 5px 0;
  //       }
  //     }
  //     .btn-red-poker {
  //       cursor: pointer;
  //       font-size: 20px;
  //       margin-right: 30px;
  //       @media screen and (max-width: $maxWidthTablet) {
  //         margin: 5px 0;
  //       }
  //     }
  //     span {
  //       color: $redColor;
  //       margin-right: 5px;
  //     }
  //   }
  //   .disclaimer {
  //     background-color: transparent;
  //     border-top: 1px solid $redColor;
  //     color: $redColor;
  //     font-family: 'Helvetica Neue', sans-serif;
  //     font-weight: normal;
  //     text-align: center;
  //     width: 100%;
  //     &-image {
  //       color: $redColor;
  //       font-size: 12px;
  //       img {
  //         margin-left: 10px;
  //         width: 80px;
  //       }
  //     }
  //   }
  //   .contact-info {
  //     background-color: transparent;
  //     max-width: $maxWidth;
  //     padding: 15px 0;
  //   }
  // }
  background-color: $darkGrayColor;
  color: white;
  font-size: 18px;
  padding: 0 0 100px;
  position: relative;
  @media screen and (max-width: $tablet) {
      padding: 0 0 30px;
  }
  &__legal {
      padding: 15px 0;
      border-bottom: 1px solid white;
      margin: 0 0 70px;
      @media screen and (max-width: $maxWidthTablet) {
          img {
              width: 95%;
          }
      }
      @media screen and (max-width: $tablet) {
          margin: 0;
      }
  }
  &__social {
      li {
          background-image: url('../../../../dist/assets/images/footer/bg-social.svg');
          height: 50px;
          margin: 0 10px;
          text-align: center;
          width: 50px;
          a {
              width: 100%;
          }
      }
  }
  &__copyright {
      border-left: 1px solid white;
      border-right: 1px solid white;
      margin: 0 50px 0 0;
      padding: 10px 50px;
      @media screen and (max-width: $tablet) {
          border-bottom: 1px solid white;
          border-left: none;
          border-right: none;
          border-top: 1px solid white;
          margin: 0 0 20px;
          padding: 20px 0;
          text-align: center;
          img {
              display: inline-block;
              margin: 0 auto;
          }
          p {
              font-size: 3.5vw;
              margin: 10px auto;
          }
      }
  }
  &__follow {
    p {
      margin: 1em 0;
    }
      @media screen and (max-width: $tablet) {
          margin: 0;
          p {
              text-align: center;
              width: 100%; 
          }
          ul {
              padding: 0;
              width: 100%;
          }
      }
      ul {
        li {
          img {
            display: inline-block;
          }
        }
    }
  }
  &__polas {
      @media screen and (max-width: $tablet) {
          text-align: center;
          img {
              display: inline-block;
              margin: 0 auto;
          }
      }
  }
}
