<footer class='footer'>
  <div class="footer__legal">
      <div class='flex flex-row items-center justify-center'>
          <img src="../assets/images/footer/legal.png" />
      </div>
  </div>
  <div class='container mx-auto'>
      <div class='sm:flex sm:flex-row content-center'>
          <div class="w-full sm:w-3/12 lg:w-2/12 lg:w-offset-1 sm:w-offset-0 footer__follow">
              <p class="flex flex-row text-center items-center justify-center">Siguenos en:</p>
              <ul class='footer__social flex flex-row items-center sm:content-center justify-center'>
                  <li class="flex flex-row content-center">
                      <a target="_blank" href="https://www.facebook.com/gettap.it/">
                          <img src="../assets/images/footer/logo-facebbok.svg" />
                      </a>
                  </li>
                  <li class="flex flex-row content-center">
                      <a target="_blank" href="https://www.instagram.com/tapit_beer/">
                          <img src="../assets/images/footer/logo-instagram.svg" />
                      </a>
                  </li>
              </ul>
          </div>
          <div class="row w-full sm:w-6/12 footer__copyright">
              <img src="../assets/images/footer/Logo-tapit.svg" />
              <p>
                  <small>
                  Todos los derechos reservados © 2020 <br/>Términos y condiciones | Políticas de protección de datos personales <br/>Aviso de privacidad | Pólitica de cookies | Contáctanos
                  </small>
              </p>
          </div>
          <div class="row w-full sm:w-2/12 footer__polas">
              <img src="../assets/images/footer/logo-polas.svg" />
          </div>
      </div>
  </div>
</footer>
