<div class="container mx-auto py-4 mt-4 relative">
  <ngx-loading [show]="loading"></ngx-loading>
  <h2 class="text-lg font-bold text-left my-4 ml-2">
    <span class="text-left text-primary-500">
      <a class="goBackBtn text-black" href="javascript: history.go(-1)">&lsaquo;</a> Escanea </span>Tapas
  </h2>

  <div *ngIf="isMobile" id="video" class="flex justify-center items-center bg-neutral-200">
    <qr-scanner class="my-8" [debug]="false" [canvasWidth]="300" [canvasHeight]="300" [stopAfterScan]="true"
      [updateTime]="500">
    </qr-scanner>
  </div>

  <p *ngIf="isMobile" class="text-neutral-800 mx-8 my-4 text-xs">
    Si has encontrado un código QR de Tap It en tus productos, aquí puedes escanearlo. Asegúrate de contar con
    suficiente luz para la correcta lectura del código. <span class="text-black">Solo puedes escanear 30 tapas por
      mes</span>
  </p>

  <div *ngIf="isDesktop" class="flex flex-col justify-center text-center w-4/5 mx-auto">
    <h2 *ngIf="isDesktop" class="text-neutral-800 font-md text-center">Descarga la app y comienza a escanear ya</h2>
    <div *ngIf="isDesktop" class="flex flex-row justify-center w-2/5 mx-auto mt-4">
      <a id="isMobile" href="https://apps.apple.com/us/app/tapit/id1481852424?ls=1" target="_blank"
        class="rounded-2xl bg-primary-500 text-white cursor-pointer flex items-center m-auto w-2/5">
        <img class="ml-6 mr-2 w-6 my-2" style="width:24px; height:27px;" src="https://bavariaco.vteximg.com.br/arquivos/ios-fix-icon.png" alt="Logo App Store">
        <p class="text-sm">App Store</p>
      </a>

      <a id="isMobile" href="https://play.google.com/store/apps/details?id=com.abinbev.tapit" target="_blank"
        class="rounded-2xl bg-primary-500 text-white cursor-pointer flex items-center m-auto w-2/5">
        <img class="ml-6 mr-2 w-6 my-2" src="https://bavariaco.vteximg.com.br/arquivos/android-fix-icon.png" alt="Logo PLay Store">
        <p class="text-sm">Google Play</p>
      </a>
    </div>

  </div>
</div>