@import "assets/styles/material.theme";
@import "assets/styles/variables";


*:focus {
  outline: none !important;
}

.app-dialog {
  font-family: filson-soft !important;
  max-width: 24rem !important;
  width: 100%;

  .mat-dialog-container {
    border-radius: 1.2rem;
    padding: 0;
  }
}

.app-loading {
  font-family: filson-soft !important;

  .mat-dialog-container {
    background: none;
    box-shadow: none;
  }

  .mat-spinner circle {
    stroke: #FF5005;
  }
}

.slick-slider {
  .slick-arrow {
    bottom: -100px;
    top: auto;

    &.slick-next {
      right: calc(50% - 70px);
    }

    &.slick-prev {
      left: calc(50% - 70px);
    }

    &.slick-prev,
    &.slick-next {
      background-color: transparent;
      border-radius: 56px;
      color: white;
      height: 56px;
      width: 56px;
    }

    &.slick-prev:hover,
    &.slick-prev:focus,
    &.slick-next:hover,
    &.slick-next:focus {
      background-color: transparent;
      opacity: 0.8;
    }

    &.slick-next::before {
      content: url("../../react-app/src/assets/images/next-arrow.svg");
    }

    &.slick-prev::before {
      content: url("../../react-app/src/assets/images/prev-arrow.svg");
    }
  }
}

.min-width-18 {
  min-width: 18rem;
}

.facebook-button {
  background: #4267b2;
}

.bg-pattern {
  background: url("assets/images/bg.svg") no-repeat;
  background-size: cover;
}

.app-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 2px solid #191419;
    box-sizing: border-box;
    border-radius: 8px;

    &:focus {
      outline: none;
    }
  }

  input:checked ~ .checkmark {
    display: block;
    background-color: #FF5005;
    border-color: #FF5005;
  }
}

body {
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
  }
}
