@import "../../assets/styles/variables";
.main-logo {
    @media (max-width: $xs) {
        width: 76px;
    }
}

.cuppon-icon {
    @media (max-width: 768px) {
       filter: grayscale(1);
       margin-left: .2rem;
    }
}

.borbot {
    border-bottom: 1px solid lightgrey;
}
#menuToggle {
    font-size: 16px;
    height: 0;
    left: 0;
    top: 24px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    input {
        width: 40px;
        height: 32px;
        top: -7px;
        left: 20px;
        opacity: 0;
        z-index: 2; 
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
        &:checked {
            left: auto;
            right: 20%;
            top: 13px;
            ~ .img-menu {
                opacity: 0;
                transition: none;
            }
            ~ ul {
                transform: none;
            }
            ~ .background {
                display: block;
                opacity: 1;
            }
        }
        
    }
    .img-menu {
        margin-bottom: 3px;
        margin-left: 20px;
        opacity: 1;
        position: relative;
        transition: opacity 1s cubic-bezier(0.77,0.2,0.05,1.0);
        z-index: 1;
    }
    .background {
        background-color: rgba(25, 20, 25, 0.8);
        display: none;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: all 0.3s ease-in-out;
        width: 100%;
    }
    .icon-close {
        right: 3%;
        top: 46px;
    }
}
#menu {
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
header {
    .points-text {
        left: -3px;
        font-size: 11px;
    }

    .cuppon-icon{
        height: 1rem;
        width: auto;
    }
}

.containerInfo {

 
        background: #FAFAFA ;
        border-top: 1px solid lightgrey ;
        border-bottom: 1px solid lightgrey;
        display: flex;
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        &__ul {
            
            max-width: 970px;
            margin: 0 auto;
            width: 80%;
            display: flex;
        }

        .pointLabel {
            background: #FF5005;
            padding: 5px;
            border-radius: 6px;
            color: #FFFFFF;
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 12px;
        }

        .infoLabel {
            font-size: 14px;
            line-height: 24px;
        }
} 
