.market-alignment {
  @media screen and (min-width: 768px) and (max-width: 950px) {
    margin-left: 80px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1206px) {
    margin-left: 80px;
  }

  @media screen and (min-width: 1280px) and (max-width: 1462px) {
    margin-left: 80px;
  }
}
