@import "assets/styles/material.theme";
@import "assets/styles/tailwind.css";
@import "assets/styles/variables";

*:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.app-dialog {
  max-width: 95vw !important;

  @media (min-width: 640px) {
    max-width: 80vw;
  }

  .mat-dialog-container {
    border-radius: 1.2rem;
    padding: 0;
  }
}

.min-width-280 {
  min-width: 280px;
}

.min-width-18 {
  min-width: 18rem;
}

.facebook-button {
  background: #4267b2;
}

.bg-footer-bubble {
  background: url("assets/images/footer-bubble.png") no-repeat left -3em bottom -1rem;
  background-size: 144px;
}

.app-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 2px solid #191419;
    box-sizing: border-box;
    border-radius: 8px;

    &:focus {
      outline: none;
    }
  }

  input:checked ~ .checkmark {
    display: block;
    background-color: #FF5005;
    border-color: #FF5005;
  }
}


